* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
	max-width:1024px;
	min-width:416px;
}

#block-0-line-0 {position: absolute;left: 383.9px;top: 121.5px;font-size: 33.0px;font-family: 'SlateStd-Black';}
#block-1-line-0 {position: absolute;left: 469.4px;top: 121.5px;font-size: 33.0px;font-family: 'SlateStd-Black';}
#block-2-line-0 {position: absolute;left: 22.6px;top: 223.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-3-line-0 {position: absolute;left: 62.5px;top: 223.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-4-line-0 {position: absolute;left: 22.6px;top: 238.9px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-5-line-0 {position: absolute;left: 47.9px;top: 238.9px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-6-line-0 {position: absolute;left: 22.6px;top: 254.5px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-7-line-0 {position: absolute;left: 63.5px;top: 254.5px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-8-line-0 {position: absolute;left: 22.6px;top: 270.2px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-9-line-0 {position: absolute;left: 52.5px;top: 270.2px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-10-line-0 {position: absolute;left: 22.6px;top: 285.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-11-line-0 {position: absolute;left: 53.8px;top: 285.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-12-line-0 {position: absolute;left: 91.2px;top: 285.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-13-line-0 {position: absolute;left: 22.6px;top: 301.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-14-line-0 {position: absolute;left: 48.7px;top: 301.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-15-line-0 {position: absolute;left: 403.7px;top: 171.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-16-line-0 {position: absolute;left: 445.2px;top: 171.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-17-line-0 {position: absolute;left: 477.0px;top: 171.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-18-line-0 {position: absolute;left: 507.9px;top: 171.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-19-line-0 {position: absolute;left: 549.8px;top: 171.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-20-line-0 {position: absolute;left: 383.9px;top: 201.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-21-line-0 {position: absolute;left: 463.4px;top: 201.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-22-line-0 {position: absolute;left: 513.9px;top: 201.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-23-line-0 {position: absolute;left: 555.8px;top: 201.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-24-line-0 {position: absolute;left: 383.9px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-25-line-0 {position: absolute;left: 415.4px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-26-line-0 {position: absolute;left: 469.9px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-27-line-0 {position: absolute;left: 491.1px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-28-line-0 {position: absolute;left: 522.0px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-29-line-0 {position: absolute;left: 558.9px;top: 231.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-30-line-0 {position: absolute;left: 383.9px;top: 261.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-31-line-0 {position: absolute;left: 428.0px;top: 261.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-32-line-0 {position: absolute;left: 497.8px;top: 261.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-33-line-0 {position: absolute;left: 538.8px;top: 261.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-34-line-0 {position: absolute;left: 383.9px;top: 291.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-35-line-0 {position: absolute;left: 424.1px;top: 291.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-36-line-0 {position: absolute;left: 445.3px;top: 291.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-37-line-0 {position: absolute;left: 510.1px;top: 291.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-38-line-0 {position: absolute;left: 560.7px;top: 291.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-39-line-0 {position: absolute;left: 383.9px;top: 321.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-40-line-0 {position: absolute;left: 438.6px;top: 321.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-41-line-0 {position: absolute;left: 458.4px;top: 321.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-42-line-0 {position: absolute;left: 489.3px;top: 321.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-43-line-0 {position: absolute;left: 383.9px;top: 351.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-44-line-0 {position: absolute;left: 420.9px;top: 351.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-45-line-0 {position: absolute;left: 453.2px;top: 351.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-46-line-0 {position: absolute;left: 524.3px;top: 351.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-47-line-0 {position: absolute;left: 383.9px;top: 381.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-48-line-0 {position: absolute;left: 414.8px;top: 381.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-49-line-0 {position: absolute;left: 469.4px;top: 381.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-50-line-0 {position: absolute;left: 490.6px;top: 381.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-51-line-0 {position: absolute;left: 383.9px;top: 411.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-52-line-0 {position: absolute;left: 433.6px;top: 411.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-53-line-0 {position: absolute;left: 475.5px;top: 411.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-54-line-0 {position: absolute;left: 530.8px;top: 411.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-55-line-0 {position: absolute;left: 556.7px;top: 411.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-56-line-0 {position: absolute;left: 383.9px;top: 441.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-57-line-0 {position: absolute;left: 414.8px;top: 441.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-58-line-0 {position: absolute;left: 508.6px;top: 441.2px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-59-line-0 {position: absolute;left: 680.1px;top: 248.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-60-line-0 {position: absolute;left: 722.4px;top: 248.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-61-line-0 {position: absolute;left: 767.3px;top: 248.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-62-line-0 {position: absolute;left: 807.2px;top: 248.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-63-line-0 {position: absolute;left: 840.6px;top: 248.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-64-line-0 {position: absolute;left: 680.1px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-65-line-0 {position: absolute;left: 741.2px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-66-line-0 {position: absolute;left: 763.2px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-67-line-0 {position: absolute;left: 803.1px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-68-line-0 {position: absolute;left: 836.5px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-69-line-0 {position: absolute;left: 864.2px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-70-line-0 {position: absolute;left: 888.1px;top: 264.1px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-71-line-0 {position: absolute;left: 680.1px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-72-line-0 {position: absolute;left: 698.5px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-73-line-0 {position: absolute;left: 711.9px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-74-line-0 {position: absolute;left: 760.9px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-75-line-0 {position: absolute;left: 796.5px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-76-line-0 {position: absolute;left: 813.9px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-77-line-0 {position: absolute;left: 834.8px;top: 279.8px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-78-line-0 {position: absolute;left: 688.9px;top: 321.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-79-line-0 {position: absolute;left: 711.3px;top: 321.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-80-line-0 {position: absolute;left: 744.6px;top: 321.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-81-line-0 {position: absolute;left: 789.6px;top: 321.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-82-line-0 {position: absolute;left: 841.7px;top: 321.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-83-line-0 {position: absolute;left: 669.1px;top: 351.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-84-line-0 {position: absolute;left: 712.8px;top: 351.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-85-line-0 {position: absolute;left: 738.2px;top: 351.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-86-line-0 {position: absolute;left: 802.5px;top: 351.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-87-line-0 {position: absolute;left: 669.1px;top: 381.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-88-line-0 {position: absolute;left: 710.1px;top: 381.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-89-line-0 {position: absolute;left: 769.1px;top: 381.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-90-line-0 {position: absolute;left: 794.6px;top: 381.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-91-line-0 {position: absolute;left: 842.3px;top: 381.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-92-line-0 {position: absolute;left: 669.1px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-93-line-0 {position: absolute;left: 714.4px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-94-line-0 {position: absolute;left: 735.6px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-95-line-0 {position: absolute;left: 766.8px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-96-line-0 {position: absolute;left: 817.9px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-97-line-0 {position: absolute;left: 842.5px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-98-line-0 {position: absolute;left: 873.4px;top: 411.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-99-line-0 {position: absolute;left: 669.1px;top: 441.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-100-line-0 {position: absolute;left: 761.9px;top: 441.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-101-line-0 {position: absolute;left: 807.0px;top: 441.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
