* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
	max-width:1024px;
	min-width:416px;
}

#block-0-line-0 {position: absolute;left: 142.4px;top: 112.9px;font-size: 37.2px;font-family: 'SlateStd-Black';}
#block-1-line-0 {position: absolute;left: 202.7px;top: 112.9px;font-size: 37.2px;font-family: 'SlateStd-Black';}
#block-2-line-0 {position: absolute;left: 273.3px;top: 112.9px;font-size: 37.2px;font-family: 'SlateStd-Black';}
#block-3-line-0 {position: absolute;left: 146.7px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-4-line-0 {position: absolute;left: 179.9px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-5-line-0 {position: absolute;left: 210.9px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-6-line-0 {position: absolute;left: 250.2px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-7-line-0 {position: absolute;left: 295.7px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-8-line-0 {position: absolute;left: 326.4px;top: 155.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-9-line-0 {position: absolute;left: 146.7px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-10-line-0 {position: absolute;left: 193.7px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-11-line-0 {position: absolute;left: 214.1px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-12-line-0 {position: absolute;left: 244.8px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-13-line-0 {position: absolute;left: 280.3px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-14-line-0 {position: absolute;left: 332.9px;top: 173.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-15-line-0 {position: absolute;left: 146.7px;top: 191.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-16-line-0 {position: absolute;left: 186.1px;top: 191.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-17-line-0 {position: absolute;left: 216.2px;top: 191.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-18-line-0 {position: absolute;left: 271.3px;top: 191.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-19-line-0 {position: absolute;left: 313.4px;top: 191.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-20-line-0 {position: absolute;left: 146.7px;top: 209.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-21-line-0 {position: absolute;left: 207.8px;top: 209.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-22-line-0 {position: absolute;left: 259.2px;top: 209.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-23-line-0 {position: absolute;left: 280.9px;top: 209.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-24-line-0 {position: absolute;left: 311.7px;top: 209.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-25-line-0 {position: absolute;left: 146.7px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-26-line-0 {position: absolute;left: 200.2px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-27-line-0 {position: absolute;left: 233.3px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-28-line-0 {position: absolute;left: 281.0px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-29-line-0 {position: absolute;left: 329.3px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-30-line-0 {position: absolute;left: 359.3px;top: 227.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-31-line-0 {position: absolute;left: 146.7px;top: 245.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-32-line-0 {position: absolute;left: 209.6px;top: 245.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-33-line-0 {position: absolute;left: 297.2px;top: 245.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-34-line-0 {position: absolute;left: 146.7px;top: 263.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-35-line-0 {position: absolute;left: 167.1px;top: 263.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-36-line-0 {position: absolute;left: 197.8px;top: 263.2px;font-size: 16.0px;font-family: 'SlateStd-Bold';}
#block-37-line-0 {position: absolute;left: 430.0px;top: 122.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-38-line-0 {position: absolute;left: 571.8px;top: 117.5px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-39-line-0 {position: absolute;left: 586.5px;top: 117.8px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-40-line-0 {position: absolute;left: 593.2px;top: 118.4px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-41-line-0 {position: absolute;left: 530.1px;top: 122.5px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-42-line-0 {position: absolute;left: 534.8px;top: 121.6px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-43-line-0 {position: absolute;left: 540.7px;top: 120.6px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-44-line-0 {position: absolute;left: 546.6px;top: 119.7px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-45-line-0 {position: absolute;left: 554.3px;top: 118.7px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-46-line-0 {position: absolute;left: 559.7px;top: 118.3px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-47-line-0 {position: absolute;left: 803.7px;top: 109.3px;font-size: 13.5px;font-family: 'SlateStd-BoldItalic';}
#block-48-line-0 {position: absolute;left: 832.3px;top: 109.3px;font-size: 13.5px;font-family: 'SlateStd-BoldItalic';}
#block-49-line-0 {position: absolute;left: 845.9px;top: 109.3px;font-size: 13.5px;font-family: 'SlateStd-BoldItalic';}
#block-50-line-0 {position: absolute;left: 651.5px;top: 144.8px;font-size: 14.1px;font-family: 'SlateStd-Black';}
#block-51-line-0 {position: absolute;left: 566.8px;top: 173.1px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-52-line-0 {position: absolute;left: 744.5px;top: 151.3px;font-size: 7.8px;font-family: 'SlateStd-BoldItalic';}
#block-53-line-0 {position: absolute;left: 745.6px;top: 157.7px;font-size: 7.8px;font-family: 'SlateStd-BoldItalic';}
#block-54-line-0 {position: absolute;left: 856.6px;top: 169.7px;font-size: 7.8px;font-family: 'SlateStd-BoldItalic';}
#block-55-line-0 {position: absolute;left: 860.7px;top: 176px;font-size: 7.8px;font-family: 'SlateStd-BoldItalic';}
#block-56-line-0 {position: absolute;left: 581.5px;top: 179.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-57-line-0 {position: absolute;left: 591.3px;top: 185.5px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-58-line-0 {position: absolute;left: 602.7px;top: 193.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-59-line-0 {position: absolute;left: 612.4px;top: 611.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-60-line-0 {position: absolute;left: 619.9px;top: 616.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-61-line-0 {position: absolute;left: 677.7px;top: 671.9px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-62-line-0 {position: absolute;left: 682.5px;top: 675.9px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-63-line-0 {position: absolute;left: 582.3px;top: 579.9px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-64-line-0 {position: absolute;left: 488.9px;top: 226.8px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-65-line-0 {position: absolute;left: 776.4px;top: 225.3px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-66-line-0 {position: absolute;left: 776.6px;top: 238.8px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-67-line-0 {position: absolute;left: 798.2px;top: 225.3px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-68-line-0 {position: absolute;left: 806.2px;top: 225.3px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-69-line-0 {position: absolute;left: 804.3px;top: 238.8px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-70-line-0 {position: absolute;left: 815.8px;top: 238.8px;font-size: 6.1px;font-family: 'SlateStd-Bold';}
#block-71-line-0 {position: absolute;left: 628.4px;top: 624.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-72-line-0 {position: absolute;left: 687.6px;top: 673.2px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-73-line-0 {position: absolute;left: 570.4px;top: 557.6px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-74-line-0 {position: absolute;left: 573.9px;top: 575.7px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-75-line-0 {position: absolute;left: 575.5px;top: 566px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-76-line-0 {position: absolute;left: 580.3px;top: 583.4px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-77-line-0 {position: absolute;left: 634.9px;top: 630.5px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-78-line-0 {position: absolute;left: 692.3px;top: 683.2px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-79-line-0 {position: absolute;left: 442.4px;top: 322.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-80-line-0 {position: absolute;left: 250.9px;top: 343.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-81-line-0 {position: absolute;left: 498.2px;top: 494.7px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-82-line-0 {position: absolute;left: 504.0px;top: 506.9px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-83-line-0 {position: absolute;left: 508.1px;top: 513.5px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-84-line-0 {position: absolute;left: 469.0px;top: 467.5px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-85-line-0 {position: absolute;left: 463.6px;top: 452.4px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-86-line-0 {position: absolute;left: 458.3px;top: 442.5px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-87-line-0 {position: absolute;left: 803.8px;top: 263.7px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-88-line-0 {position: absolute;left: 815.1px;top: 263.1px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-89-line-0 {position: absolute;left: 821.0px;top: 263.1px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-90-line-0 {position: absolute;left: 830.3px;top: 263.7px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-91-line-0 {position: absolute;left: 773.0px;top: 265.4px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-92-line-0 {position: absolute;left: 797.1px;top: 264.3px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-93-line-0 {position: absolute;left: 831.6px;top: 292px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-94-line-0 {position: absolute;left: 852.9px;top: 292px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-95-line-0 {position: absolute;left: 703.5px;top: 319px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-96-line-0 {position: absolute;left: 737.5px;top: 310.8px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-97-line-0 {position: absolute;left: 719.5px;top: 317.1px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-98-line-0 {position: absolute;left: 726.8px;top: 312.8px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-99-line-0 {position: absolute;left: 740.6px;top: 309.5px;font-size: 8.8px;font-family: 'SlateStd-BoldItalic';}
#block-100-line-0 {position: absolute;left: 470.9px;top: 471.9px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-101-line-0 {position: absolute;left: 472.2px;top: 464.2px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-102-line-0 {position: absolute;left: 476.5px;top: 472.3px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-103-line-0 {position: absolute;left: 519.5px;top: 367.6px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-104-line-0 {position: absolute;left: 526.2px;top: 321px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-105-line-0 {position: absolute;left: 524.5px;top: 363.6px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-106-line-0 {position: absolute;left: 530.6px;top: 361.1px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-107-line-0 {position: absolute;left: 587.0px;top: 358.1px;font-size: 14.1px;font-family: 'SlateStd-Black';}
#block-108-line-0 {position: absolute;left: 637.3px;top: 358.1px;font-size: 14.1px;font-family: 'SlateStd-Black';}
#block-109-line-0 {position: absolute;left: 584.1px;top: 396.5px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-110-line-0 {position: absolute;left: 671.9px;top: 391.8px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-111-line-0 {position: absolute;left: 775.6px;top: 361.7px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-112-line-0 {position: absolute;left: 870.4px;top: 375.5px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-113-line-0 {position: absolute;left: 870.4px;top: 384.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-114-line-0 {position: absolute;left: 810.7px;top: 405.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-115-line-0 {position: absolute;left: 520.0px;top: 407.4px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-116-line-0 {position: absolute;left: 128.8px;top: 417.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-117-line-0 {position: absolute;left: 298.9px;top: 426.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-118-line-0 {position: absolute;left: 193.2px;top: 440px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-119-line-0 {position: absolute;left: 217.1px;top: 440px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-120-line-0 {position: absolute;left: 236.7px;top: 440px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-121-line-0 {position: absolute;left: 193.2px;top: 449.9px;font-size: 6.9px;font-family: 'SlateStd-Bold';}
#block-122-line-0 {position: absolute;left: 226.3px;top: 448.9px;font-size: 8.1px;font-family: 'SlateStd-Bold';}
#block-123-line-0 {position: absolute;left: 241.1px;top: 448.9px;font-size: 8.1px;font-family: 'SlateStd-Bold';}
#block-124-line-0 {position: absolute;left: 261.9px;top: 448.9px;font-size: 8.1px;font-family: 'SlateStd-Bold';}
#block-125-line-0 {position: absolute;left: 422.7px;top: 420.2px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-126-line-0 {position: absolute;left: 428.3px;top: 422.4px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-127-line-0 {position: absolute;left: 433.3px;top: 424.4px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-128-line-0 {position: absolute;left: 440.7px;top: 428.7px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-129-line-0 {position: absolute;left: 190.1px;top: 463.8px;font-size: 7.3px;font-family: 'SlateStd-MediumCondensed';}
#block-130-line-0 {position: absolute;left: 210.7px;top: 463.8px;font-size: 7.3px;font-family: 'SlateStd-MediumCondensed';}
#block-131-line-0 {position: absolute;left: 222.1px;top: 463.8px;font-size: 7.3px;font-family: 'SlateStd-MediumCondensed';}
#block-132-line-0 {position: absolute;left: 250.5px;top: 463.8px;font-size: 7.3px;font-family: 'SlateStd-MediumCondensed';}
#block-133-line-0 {position: absolute;left: 427.4px;top: 471.7px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-134-line-0 {position: absolute;left: 600.7px;top: 601.3px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-135-line-0 {position: absolute;left: 608.1px;top: 611.6px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-136-line-0 {position: absolute;left: 614.1px;top: 617.3px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-137-line-0 {position: absolute;left: 619.3px;top: 625.1px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-138-line-0 {position: absolute;left: 444.9px;top: 429.3px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-139-line-0 {position: absolute;left: 451.1px;top: 429.6px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-140-line-0 {position: absolute;left: 465.5px;top: 434.7px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-141-line-0 {position: absolute;left: 631.3px;top: 427.3px;font-size: 9.3px;font-family: 'SlateStd-BoldItalic';}
#block-142-line-0 {position: absolute;left: 720.5px;top: 429.1px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-143-line-0 {position: absolute;left: 713.4px;top: 438px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-144-line-0 {position: absolute;left: 849.1px;top: 427.1px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-145-line-0 {position: absolute;left: 763.7px;top: 440.7px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-146-line-0 {position: absolute;left: 763.7px;top: 448.4px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-147-line-0 {position: absolute;left: 764.1px;top: 473.7px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-148-line-0 {position: absolute;left: 507.8px;top: 506.8px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-149-line-0 {position: absolute;left: 503.3px;top: 500.7px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-150-line-0 {position: absolute;left: 497.7px;top: 496px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-151-line-0 {position: absolute;left: 500.8px;top: 499.9px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-152-line-0 {position: absolute;left: 492.9px;top: 488px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-153-line-0 {position: absolute;left: 487.4px;top: 479.6px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-154-line-0 {position: absolute;left: 516.2px;top: 516.6px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-155-line-0 {position: absolute;left: 510.5px;top: 505.2px;font-size: 8.3px;font-family: 'SlateStd-BoldItalic';}
#block-156-line-0 {position: absolute;left: 595.0px;top: 476.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-157-line-0 {position: absolute;left: 575.5px;top: 502.2px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-158-line-0 {position: absolute;left: 121.3px;top: 494.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-159-line-0 {position: absolute;left: 142.7px;top: 494.9px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-160-line-0 {position: absolute;left: 214.9px;top: 515.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-161-line-0 {position: absolute;left: 312.2px;top: 525.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-162-line-0 {position: absolute;left: 431.3px;top: 526.1px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-163-line-0 {position: absolute;left: 734.5px;top: 505.2px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-164-line-0 {position: absolute;left: 765.7px;top: 505.2px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-165-line-0 {position: absolute;left: 500.7px;top: 558.1px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-166-line-0 {position: absolute;left: 568.1px;top: 556.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-167-line-0 {position: absolute;left: 627.8px;top: 556.3px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-168-line-0 {position: absolute;left: 692.5px;top: 548.7px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
#block-169-line-0 {position: absolute;left: 694.0px;top: 557.6px;font-size: 9.3px;font-family: 'SlateStd-Bold';}
