#main_container_inner {
	background: url('../img/page-04-bg.jpg') no-repeat;
    height: 672px;
    width: 1024px;
}

#block-0-line-0 {position: absolute;left: 126.0px;top: 76.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-1-line-0 {position: absolute;left: 141.0px;top: 76.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-2-line-0 {position: absolute;left: 215.3px;top: 76.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-3-line-0 {position: absolute;left: 273.2px;top: 76.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-4-line-0 {position: absolute;left: 126.0px;top: 92.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-5-line-0 {position: absolute;left: 169.0px;top: 92.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-6-line-0 {position: absolute;left: 205.0px;top: 92.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-7-line-0 {position: absolute;left: 223.7px;top: 92.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-8-line-0 {position: absolute;left: 126.0px;top: 108.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-9-line-0 {position: absolute;left: 167.5px;top: 108.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-10-line-0 {position: absolute;left: 203.9px;top: 108.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-11-line-0 {position: absolute;left: 232.0px;top: 108.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-12-line-0 {position: absolute;left: 283.5px;top: 108.0px;font-size: 15.0px;font-family: 'SlateStd-Medium';}
#block-13-line-0 {position: absolute;left: 431.6px;top: 85.0px;font-size: 33.0px;font-family: 'SlateStd-Black';}
#block-14-line-0 {position: absolute;left: 493.6px;top: 85.0px;font-size: 33.0px;font-family: 'SlateStd-Black';}
#block-15-line-0 {position: absolute;left: 451.4px;top: 122.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-16-line-0 {position: absolute;left: 503.7px;top: 122.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-17-line-0 {position: absolute;left: 547.1px;top: 122.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-18-line-0 {position: absolute;left: 580.1px;top: 122.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-19-line-0 {position: absolute;left: 648.5px;top: 122.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-20-line-0 {position: absolute;left: 431.6px;top: 152.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-21-line-0 {position: absolute;left: 463.7px;top: 152.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-22-line-0 {position: absolute;left: 561.1px;top: 152.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-23-line-0 {position: absolute;left: 608.4px;top: 152.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-24-line-0 {position: absolute;left: 646.0px;top: 152.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-25-line-0 {position: absolute;left: 431.6px;top: 182.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-26-line-0 {position: absolute;left: 529.5px;top: 182.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-27-line-0 {position: absolute;left: 551.0px;top: 182.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-28-line-0 {position: absolute;left: 600.9px;top: 182.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-29-line-0 {position: absolute;left: 655.5px;top: 182.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-30-line-0 {position: absolute;left: 431.6px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-31-line-0 {position: absolute;left: 475.0px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-32-line-0 {position: absolute;left: 508.0px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-33-line-0 {position: absolute;left: 565.8px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-34-line-0 {position: absolute;left: 610.6px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-35-line-0 {position: absolute;left: 654.2px;top: 212.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-36-line-0 {position: absolute;left: 431.6px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-37-line-0 {position: absolute;left: 463.7px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-38-line-0 {position: absolute;left: 506.7px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-39-line-0 {position: absolute;left: 565.9px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-40-line-0 {position: absolute;left: 598.0px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-41-line-0 {position: absolute;left: 654.6px;top: 242.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-42-line-0 {position: absolute;left: 431.6px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-43-line-0 {position: absolute;left: 469.2px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-44-line-0 {position: absolute;left: 508.7px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-45-line-0 {position: absolute;left: 562.2px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-46-line-0 {position: absolute;left: 595.9px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-47-line-0 {position: absolute;left: 622.3px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-48-line-0 {position: absolute;left: 664.0px;top: 272.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-49-line-0 {position: absolute;left: 431.6px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-50-line-0 {position: absolute;left: 481.3px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-51-line-0 {position: absolute;left: 501.1px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-52-line-0 {position: absolute;left: 546.2px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-53-line-0 {position: absolute;left: 576.8px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-54-line-0 {position: absolute;left: 626.1px;top: 302.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-55-line-0 {position: absolute;left: 451.4px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-56-line-0 {position: absolute;left: 483.9px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-57-line-0 {position: absolute;left: 554.3px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-58-line-0 {position: absolute;left: 571.0px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-59-line-0 {position: absolute;left: 651.7px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-60-line-0 {position: absolute;left: 687.2px;top: 332.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-61-line-0 {position: absolute;left: 431.6px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-62-line-0 {position: absolute;left: 461.3px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-63-line-0 {position: absolute;left: 515.6px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-64-line-0 {position: absolute;left: 562.4px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-65-line-0 {position: absolute;left: 597.8px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-66-line-0 {position: absolute;left: 637.3px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-67-line-0 {position: absolute;left: 654.1px;top: 362.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-68-line-0 {position: absolute;left: 431.6px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-69-line-0 {position: absolute;left: 461.6px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-70-line-0 {position: absolute;left: 482.4px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-71-line-0 {position: absolute;left: 528.8px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-72-line-0 {position: absolute;left: 562.5px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-73-line-0 {position: absolute;left: 630.6px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-74-line-0 {position: absolute;left: 651.4px;top: 392.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-75-line-0 {position: absolute;left: 467.6px;top: 422.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-76-line-0 {position: absolute;left: 506.3px;top: 422.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-77-line-0 {position: absolute;left: 539.1px;top: 422.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-78-line-0 {position: absolute;left: 624.1px;top: 422.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-79-line-0 {position: absolute;left: 477.6px;top: 452.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-80-line-0 {position: absolute;left: 514.8px;top: 452.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-81-line-0 {position: absolute;left: 565.1px;top: 452.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-82-line-0 {position: absolute;left: 599.8px;top: 452.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-83-line-0 {position: absolute;left: 738.1px;top: 121.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-84-line-0 {position: absolute;left: 793.7px;top: 121.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-85-line-0 {position: absolute;left: 830.5px;top: 121.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-86-line-0 {position: absolute;left: 864.7px;top: 121.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-87-line-0 {position: absolute;left: 738.1px;top: 151.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-88-line-0 {position: absolute;left: 811.1px;top: 151.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-89-line-0 {position: absolute;left: 850.1px;top: 151.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-90-line-0 {position: absolute;left: 738.1px;top: 181.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-91-line-0 {position: absolute;left: 786.6px;top: 181.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-92-line-0 {position: absolute;left: 819.9px;top: 181.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-93-line-0 {position: absolute;left: 864.8px;top: 181.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-94-line-0 {position: absolute;left: 899.0px;top: 181.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-95-line-0 {position: absolute;left: 738.1px;top: 211.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-96-line-0 {position: absolute;left: 779.3px;top: 211.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-97-line-0 {position: absolute;left: 801.9px;top: 211.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-98-line-0 {position: absolute;left: 835.2px;top: 211.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}


p.indent {
	text-indent: 15px;
}