/* Example font-face@font-face

@font-face {
    font-family: 'SlateStdMedium';
    src: url('../fonts/slatestd-medium.eot');
    src: url('../fonts/slatestd-medium.eot'#iefix) format('embedded-opentype'),
         url('../fonts/slatestd-medium.woff') format('woff'),
         url('../fonts/slatestd-medium.ttf') format('truetype'),
         url('../fonts/slatestd-medium.svg#SlateStdMedium') format('svg');
}

*/

%INSERTFONTS%