@font-face {
    font-family: 'SlateStdBlackCondensed';
    src: url('slatestd-blackcondensed.eot');
    src: url('slatestd-blackcondensed.eot') format('embedded-opentype'),
         url('slatestd-blackcondensed.woff') format('woff'),
         url('slatestd-blackcondensed.ttf') format('truetype'),
         url('slatestd-blackcondensed.svg#SlateStdBlackCondensed') format('svg');
}
