* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
}

#block-0-line-0 {position: absolute;left: 32.0px;top: 42.1px;font-size: 9.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-1-line-0 {position: absolute;left: 90.7px;top: 42.1px;font-size: 9.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-2-line-0 {position: absolute;left: 135.0px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-3-line-0 {position: absolute;left: 482.2px;top: 107.1px;font-size: 4.2px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-4-line-0 {position: absolute;left: 99.0px;top: 119.9px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-5-line-0 {position: absolute;left: 163.7px;top: 119.9px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-6-line-0 {position: absolute;left: 198.5px;top: 119.9px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-7-line-0 {position: absolute;left: 75.5px;top: 163.8px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-8-line-0 {position: absolute;left: 117.0px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-9-line-0 {position: absolute;left: 130.0px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-10-line-0 {position: absolute;left: 156.6px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-11-line-0 {position: absolute;left: 182.7px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-12-line-0 {position: absolute;left: 217.9px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-13-line-0 {position: absolute;left: 227.2px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-14-line-0 {position: absolute;left: 244.2px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-15-line-0 {position: absolute;left: 283.9px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-16-line-0 {position: absolute;left: 295.5px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-17-line-0 {position: absolute;left: 344.7px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-18-line-0 {position: absolute;left: 373.4px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-19-line-0 {position: absolute;left: 389.4px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-20-line-0 {position: absolute;left: 414.9px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-21-line-0 {position: absolute;left: 439.4px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-22-line-0 {position: absolute;left: 451.0px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-23-line-0 {position: absolute;left: 486.2px;top: 146.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-24-line-0 {position: absolute;left: 99.0px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-25-line-0 {position: absolute;left: 130.5px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-26-line-0 {position: absolute;left: 144.8px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-27-line-0 {position: absolute;left: 162.4px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-28-line-0 {position: absolute;left: 184.6px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-29-line-0 {position: absolute;left: 192.0px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-30-line-0 {position: absolute;left: 211.1px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-31-line-0 {position: absolute;left: 223.4px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-32-line-0 {position: absolute;left: 253.8px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-33-line-0 {position: absolute;left: 273.0px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-34-line-0 {position: absolute;left: 301.0px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-35-line-0 {position: absolute;left: 332.6px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-36-line-0 {position: absolute;left: 346.8px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-37-line-0 {position: absolute;left: 364.4px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-38-line-0 {position: absolute;left: 386.7px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-39-line-0 {position: absolute;left: 410.1px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-40-line-0 {position: absolute;left: 446.1px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-41-line-0 {position: absolute;left: 472.4px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-42-line-0 {position: absolute;left: 484.7px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-43-line-0 {position: absolute;left: 513.2px;top: 161.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-44-line-0 {position: absolute;left: 99.0px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-45-line-0 {position: absolute;left: 147.4px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-46-line-0 {position: absolute;left: 169.0px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-47-line-0 {position: absolute;left: 180.3px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-48-line-0 {position: absolute;left: 191.8px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-49-line-0 {position: absolute;left: 241.1px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-50-line-0 {position: absolute;left: 265.4px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-51-line-0 {position: absolute;left: 296.9px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-52-line-0 {position: absolute;left: 308.4px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-53-line-0 {position: absolute;left: 343.6px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-54-line-0 {position: absolute;left: 361.6px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-55-line-0 {position: absolute;left: 381.9px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-56-line-0 {position: absolute;left: 403.6px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-57-line-0 {position: absolute;left: 419.6px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-58-line-0 {position: absolute;left: 450.6px;top: 175.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-59-line-0 {position: absolute;left: 117.0px;top: 196.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-60-line-0 {position: absolute;left: 138.8px;top: 196.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-61-line-0 {position: absolute;left: 169.9px;top: 196.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-62-line-0 {position: absolute;left: 179.3px;top: 196.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-63-line-0 {position: absolute;left: 99.0px;top: 210.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-64-line-0 {position: absolute;left: 151.7px;top: 210.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-65-line-0 {position: absolute;left: 163.3px;top: 210.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-66-line-0 {position: absolute;left: 99.0px;top: 225.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-67-line-0 {position: absolute;left: 147.1px;top: 225.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-68-line-0 {position: absolute;left: 159.1px;top: 225.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-69-line-0 {position: absolute;left: 99.0px;top: 240.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-70-line-0 {position: absolute;left: 126.2px;top: 240.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-71-line-0 {position: absolute;left: 137.7px;top: 240.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-72-line-0 {position: absolute;left: 156.0px;top: 240.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-73-line-0 {position: absolute;left: 99.0px;top: 255.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-74-line-0 {position: absolute;left: 128.9px;top: 255.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-75-line-0 {position: absolute;left: 153.0px;top: 255.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-76-line-0 {position: absolute;left: 99.0px;top: 269.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-77-line-0 {position: absolute;left: 116.0px;top: 269.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-78-line-0 {position: absolute;left: 141.6px;top: 269.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-79-line-0 {position: absolute;left: 161.2px;top: 269.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-80-line-0 {position: absolute;left: 181.5px;top: 269.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-81-line-0 {position: absolute;left: 99.0px;top: 284.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-82-line-0 {position: absolute;left: 152.9px;top: 284.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-83-line-0 {position: absolute;left: 169.9px;top: 284.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-84-line-0 {position: absolute;left: 189.9px;top: 284.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-85-line-0 {position: absolute;left: 99.0px;top: 299.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-86-line-0 {position: absolute;left: 118.3px;top: 299.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-87-line-0 {position: absolute;left: 129.9px;top: 299.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-88-line-0 {position: absolute;left: 182.0px;top: 299.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-89-line-0 {position: absolute;left: 204.5px;top: 299.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-90-line-0 {position: absolute;left: 99.0px;top: 314.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-91-line-0 {position: absolute;left: 132.8px;top: 314.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-92-line-0 {position: absolute;left: 155.4px;top: 314.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-93-line-0 {position: absolute;left: 162.8px;top: 314.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-94-line-0 {position: absolute;left: 205.1px;top: 314.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-95-line-0 {position: absolute;left: 99.0px;top: 328.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-96-line-0 {position: absolute;left: 131.1px;top: 328.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-97-line-0 {position: absolute;left: 162.9px;top: 328.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-98-line-0 {position: absolute;left: 185.5px;top: 328.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-99-line-0 {position: absolute;left: 99.0px;top: 343.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-100-line-0 {position: absolute;left: 117.0px;top: 343.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-101-line-0 {position: absolute;left: 149.6px;top: 343.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-102-line-0 {position: absolute;left: 187.1px;top: 343.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-103-line-0 {position: absolute;left: 99.0px;top: 358.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-104-line-0 {position: absolute;left: 130.9px;top: 358.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-105-line-0 {position: absolute;left: 178.6px;top: 358.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-106-line-0 {position: absolute;left: 99.0px;top: 373px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-107-line-0 {position: absolute;left: 110.5px;top: 373px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-108-line-0 {position: absolute;left: 145.7px;top: 373.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-109-line-0 {position: absolute;left: 185.7px;top: 373.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-110-line-0 {position: absolute;left: 99.0px;top: 387.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-111-line-0 {position: absolute;left: 129.0px;top: 387.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-112-line-0 {position: absolute;left: 148.0px;top: 387.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-113-line-0 {position: absolute;left: 180.6px;top: 387.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-114-line-0 {position: absolute;left: 188.0px;top: 387.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-115-line-0 {position: absolute;left: 99.0px;top: 402.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-116-line-0 {position: absolute;left: 118.0px;top: 402.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-117-line-0 {position: absolute;left: 137.2px;top: 402.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-118-line-0 {position: absolute;left: 159.8px;top: 402.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-119-line-0 {position: absolute;left: 171.7px;top: 402.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-120-line-0 {position: absolute;left: 99.0px;top: 417.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-121-line-0 {position: absolute;left: 117.0px;top: 437.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-122-line-0 {position: absolute;left: 135.6px;top: 437.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-123-line-0 {position: absolute;left: 159.5px;top: 437.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-124-line-0 {position: absolute;left: 99.0px;top: 452.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-125-line-0 {position: absolute;left: 138.3px;top: 452.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-126-line-0 {position: absolute;left: 151.2px;top: 452.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-127-line-0 {position: absolute;left: 189.2px;top: 452.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-128-line-0 {position: absolute;left: 99.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-129-line-0 {position: absolute;left: 118.4px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-130-line-0 {position: absolute;left: 130.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-131-line-0 {position: absolute;left: 147.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-132-line-0 {position: absolute;left: 99.0px;top: 481.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-133-line-0 {position: absolute;left: 108.3px;top: 481.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-134-line-0 {position: absolute;left: 134.4px;top: 481.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-135-line-0 {position: absolute;left: 179.1px;top: 481.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-136-line-0 {position: absolute;left: 275.3px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-137-line-0 {position: absolute;left: 299.6px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-138-line-0 {position: absolute;left: 310.9px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-139-line-0 {position: absolute;left: 341.1px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-140-line-0 {position: absolute;left: 350.3px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-141-line-0 {position: absolute;left: 384.8px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-142-line-0 {position: absolute;left: 425.8px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-143-line-0 {position: absolute;left: 446.2px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-144-line-0 {position: absolute;left: 465.7px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-145-line-0 {position: absolute;left: 476.4px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-146-line-0 {position: absolute;left: 497.6px;top: 492.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-147-line-0 {position: absolute;left: 99.0px;top: 496.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-148-line-0 {position: absolute;left: 130.5px;top: 496.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-149-line-0 {position: absolute;left: 142.0px;top: 496.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-150-line-0 {position: absolute;left: 177.3px;top: 496.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-151-line-0 {position: absolute;left: 195.0px;top: 496.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-152-line-0 {position: absolute;left: 275.8px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-153-line-0 {position: absolute;left: 299.1px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-154-line-0 {position: absolute;left: 310.0px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-155-line-0 {position: absolute;left: 340.3px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-156-line-0 {position: absolute;left: 361.2px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-157-line-0 {position: absolute;left: 379.4px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-158-line-0 {position: absolute;left: 414.0px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-159-line-0 {position: absolute;left: 436.9px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-160-line-0 {position: absolute;left: 473.3px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-161-line-0 {position: absolute;left: 486.9px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-162-line-0 {position: absolute;left: 513.2px;top: 502.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-163-line-0 {position: absolute;left: 99.0px;top: 511.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-164-line-0 {position: absolute;left: 130.5px;top: 511.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-165-line-0 {position: absolute;left: 142.0px;top: 511.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-166-line-0 {position: absolute;left: 149.4px;top: 511.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-167-line-0 {position: absolute;left: 181.8px;top: 511.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-168-line-0 {position: absolute;left: 99.0px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-169-line-0 {position: absolute;left: 142.7px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-170-line-0 {position: absolute;left: 153.0px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-171-line-0 {position: absolute;left: 175.8px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-172-line-0 {position: absolute;left: 218.0px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-173-line-0 {position: absolute;left: 252.5px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-174-line-0 {position: absolute;left: 274.7px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-175-line-0 {position: absolute;left: 318.9px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-176-line-0 {position: absolute;left: 347.7px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-177-line-0 {position: absolute;left: 370.1px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-178-line-0 {position: absolute;left: 381.3px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-179-line-0 {position: absolute;left: 388.7px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-180-line-0 {position: absolute;left: 405.4px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-181-line-0 {position: absolute;left: 433.9px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-182-line-0 {position: absolute;left: 446.2px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-183-line-0 {position: absolute;left: 459.6px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-184-line-0 {position: absolute;left: 503.8px;top: 526px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-185-line-0 {position: absolute;left: 99.0px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-186-line-0 {position: absolute;left: 117.8px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-187-line-0 {position: absolute;left: 143.7px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-188-line-0 {position: absolute;left: 161.6px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-189-line-0 {position: absolute;left: 178.7px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-190-line-0 {position: absolute;left: 202.4px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-191-line-0 {position: absolute;left: 214.3px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-192-line-0 {position: absolute;left: 236.6px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-193-line-0 {position: absolute;left: 263.1px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-194-line-0 {position: absolute;left: 296.4px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-195-line-0 {position: absolute;left: 310.5px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-196-line-0 {position: absolute;left: 344.9px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-197-line-0 {position: absolute;left: 358.2px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-198-line-0 {position: absolute;left: 384.4px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-199-line-0 {position: absolute;left: 405.0px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-200-line-0 {position: absolute;left: 422.6px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-201-line-0 {position: absolute;left: 435.9px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-202-line-0 {position: absolute;left: 448.2px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-203-line-0 {position: absolute;left: 495.3px;top: 540.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-204-line-0 {position: absolute;left: 99.0px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-205-line-0 {position: absolute;left: 146.8px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-206-line-0 {position: absolute;left: 173.5px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-207-line-0 {position: absolute;left: 208.7px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-208-line-0 {position: absolute;left: 234.2px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-209-line-0 {position: absolute;left: 243.5px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-210-line-0 {position: absolute;left: 265.0px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-211-line-0 {position: absolute;left: 292.2px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-212-line-0 {position: absolute;left: 324.3px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-213-line-0 {position: absolute;left: 343.2px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-214-line-0 {position: absolute;left: 365.4px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-215-line-0 {position: absolute;left: 411.4px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-216-line-0 {position: absolute;left: 423.4px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-217-line-0 {position: absolute;left: 440.4px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-218-line-0 {position: absolute;left: 471.9px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-219-line-0 {position: absolute;left: 506.3px;top: 555.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-220-line-0 {position: absolute;left: 75.8px;top: 306.5px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-221-line-0 {position: absolute;left: 75.2px;top: 503.6px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-222-line-0 {position: absolute;left: 99.0px;top: 575.2px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-223-line-0 {position: absolute;left: 114.2px;top: 575.2px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-224-line-0 {position: absolute;left: 165.1px;top: 575.2px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-225-line-0 {position: absolute;left: 75.2px;top: 627.5px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-226-line-0 {position: absolute;left: 117.0px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-227-line-0 {position: absolute;left: 131.0px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-228-line-0 {position: absolute;left: 148.1px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-229-line-0 {position: absolute;left: 188.5px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-230-line-0 {position: absolute;left: 220.7px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-231-line-0 {position: absolute;left: 250.5px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-232-line-0 {position: absolute;left: 282.0px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-233-line-0 {position: absolute;left: 319.4px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-234-line-0 {position: absolute;left: 342.2px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-235-line-0 {position: absolute;left: 359.8px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-236-line-0 {position: absolute;left: 384.3px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-237-line-0 {position: absolute;left: 396.3px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-238-line-0 {position: absolute;left: 418.5px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-239-line-0 {position: absolute;left: 425.9px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-240-line-0 {position: absolute;left: 456.6px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-241-line-0 {position: absolute;left: 492.0px;top: 601.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-242-line-0 {position: absolute;left: 99.0px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-243-line-0 {position: absolute;left: 138.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-244-line-0 {position: absolute;left: 168.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-245-line-0 {position: absolute;left: 210.3px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-246-line-0 {position: absolute;left: 229.4px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-247-line-0 {position: absolute;left: 278.6px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-248-line-0 {position: absolute;left: 301.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-249-line-0 {position: absolute;left: 333.8px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-250-line-0 {position: absolute;left: 352.9px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-251-line-0 {position: absolute;left: 382.9px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-252-line-0 {position: absolute;left: 400.9px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-253-line-0 {position: absolute;left: 414.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-254-line-0 {position: absolute;left: 434.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-255-line-0 {position: absolute;left: 481.2px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-256-line-0 {position: absolute;left: 507.3px;top: 616.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-257-line-0 {position: absolute;left: 99.0px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-258-line-0 {position: absolute;left: 116.0px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-259-line-0 {position: absolute;left: 158.3px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-260-line-0 {position: absolute;left: 169.9px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-261-line-0 {position: absolute;left: 216.3px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-262-line-0 {position: absolute;left: 235.4px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-263-line-0 {position: absolute;left: 270.6px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-264-line-0 {position: absolute;left: 308.9px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-265-line-0 {position: absolute;left: 334.3px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-266-line-0 {position: absolute;left: 354.9px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-267-line-0 {position: absolute;left: 368.2px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-268-line-0 {position: absolute;left: 382.4px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-269-line-0 {position: absolute;left: 410.6px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-270-line-0 {position: absolute;left: 439.3px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-271-line-0 {position: absolute;left: 454.7px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-272-line-0 {position: absolute;left: 502.5px;top: 631.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-273-line-0 {position: absolute;left: 99.0px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-274-line-0 {position: absolute;left: 124.7px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-275-line-0 {position: absolute;left: 149.1px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-276-line-0 {position: absolute;left: 158.5px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-277-line-0 {position: absolute;left: 178.8px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-278-line-0 {position: absolute;left: 193.7px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-279-line-0 {position: absolute;left: 211.7px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-280-line-0 {position: absolute;left: 233.9px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-281-line-0 {position: absolute;left: 254.1px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-282-line-0 {position: absolute;left: 272.4px;top: 646px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-283-line-0 {position: absolute;left: 99.4px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-284-line-0 {position: absolute;left: 126.6px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-285-line-0 {position: absolute;left: 142.9px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-286-line-0 {position: absolute;left: 165.4px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-287-line-0 {position: absolute;left: 190.0px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-288-line-0 {position: absolute;left: 223.9px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-289-line-0 {position: absolute;left: 235.6px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-290-line-0 {position: absolute;left: 251.1px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-291-line-0 {position: absolute;left: 271.1px;top: 688.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCnO';}
#block-292-line-0 {position: absolute;left: 285.9px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-293-line-0 {position: absolute;left: 295.0px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-294-line-0 {position: absolute;left: 308.9px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-295-line-0 {position: absolute;left: 338.1px;top: 687.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-MdCn';}
#block-296-line-0 {position: absolute;left: 27.0px;top: 750.6px;font-size: 9.0px;font-family: 'GalliardStd-Black';}
#block-297-line-0 {position: absolute;left: 40.2px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
#block-298-line-0 {position: absolute;left: 49.1px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
#block-299-line-0 {position: absolute;left: 75.3px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
