* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
	max-width:1024px;
	min-width:416px;
}

#block-0-line-0 {position: absolute;left: 32.0px;top: 42.1px;font-size: 9.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-1-line-0 {position: absolute;left: 90.7px;top: 42.1px;font-size: 9.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-2-line-0 {position: absolute;left: 135.0px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-3-line-0 {position: absolute;left: 148.3px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-4-line-0 {position: absolute;left: 162.7px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-5-line-0 {position: absolute;left: 175.9px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-6-line-0 {position: absolute;left: 202.6px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-7-line-0 {position: absolute;left: 216.8px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-8-line-0 {position: absolute;left: 223.1px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-9-line-0 {position: absolute;left: 238.7px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-10-line-0 {position: absolute;left: 262.2px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-11-line-0 {position: absolute;left: 274.2px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-12-line-0 {position: absolute;left: 297.6px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-13-line-0 {position: absolute;left: 312.0px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-14-line-0 {position: absolute;left: 325.6px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-15-line-0 {position: absolute;left: 339.8px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-16-line-0 {position: absolute;left: 135.0px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-17-line-0 {position: absolute;left: 148.5px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-18-line-0 {position: absolute;left: 157.5px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-19-line-0 {position: absolute;left: 201.2px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-20-line-0 {position: absolute;left: 262.3px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-21-line-0 {position: absolute;left: 284.0px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-22-line-0 {position: absolute;left: 300.7px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-23-line-0 {position: absolute;left: 330.9px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-24-line-0 {position: absolute;left: 341.2px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-25-line-0 {position: absolute;left: 365.4px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-26-line-0 {position: absolute;left: 375.7px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-27-line-0 {position: absolute;left: 392.4px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-28-line-0 {position: absolute;left: 428.2px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-29-line-0 {position: absolute;left: 468.8px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-30-line-0 {position: absolute;left: 482.9px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-31-line-0 {position: absolute;left: 513.0px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-32-line-0 {position: absolute;left: 536.0px;top: 81.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-33-line-0 {position: absolute;left: 157.5px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-34-line-0 {position: absolute;left: 174.3px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-35-line-0 {position: absolute;left: 204.4px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-36-line-0 {position: absolute;left: 238.5px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-37-line-0 {position: absolute;left: 263.9px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-38-line-0 {position: absolute;left: 283.6px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-39-line-0 {position: absolute;left: 297.9px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-40-line-0 {position: absolute;left: 309.2px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-41-line-0 {position: absolute;left: 338.8px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-42-line-0 {position: absolute;left: 360.8px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-43-line-0 {position: absolute;left: 409.4px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-44-line-0 {position: absolute;left: 434.6px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-45-line-0 {position: absolute;left: 458.5px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-46-line-0 {position: absolute;left: 475.3px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-47-line-0 {position: absolute;left: 509.7px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-48-line-0 {position: absolute;left: 534.8px;top: 95.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-49-line-0 {position: absolute;left: 157.5px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-50-line-0 {position: absolute;left: 190.6px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-51-line-0 {position: absolute;left: 213.6px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-52-line-0 {position: absolute;left: 230.4px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-53-line-0 {position: absolute;left: 249.6px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-54-line-0 {position: absolute;left: 260.9px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-55-line-0 {position: absolute;left: 304.8px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-56-line-0 {position: absolute;left: 329.3px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-57-line-0 {position: absolute;left: 372.5px;top: 108.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-58-line-0 {position: absolute;left: 172.5px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-59-line-0 {position: absolute;left: 172.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-60-line-0 {position: absolute;left: 163.2px;top: 189.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-61-line-0 {position: absolute;left: 178.0px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-62-line-0 {position: absolute;left: 207.0px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-63-line-0 {position: absolute;left: 162.9px;top: 207.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-64-line-0 {position: absolute;left: 178.0px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-65-line-0 {position: absolute;left: 187.9px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-66-line-0 {position: absolute;left: 225.1px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-67-line-0 {position: absolute;left: 247.8px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-68-line-0 {position: absolute;left: 255.2px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-69-line-0 {position: absolute;left: 269.7px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-70-line-0 {position: absolute;left: 178.0px;top: 221.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-71-line-0 {position: absolute;left: 200.3px;top: 221.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-72-line-0 {position: absolute;left: 162.6px;top: 239.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-73-line-0 {position: absolute;left: 178.0px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-74-line-0 {position: absolute;left: 188.3px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-75-line-0 {position: absolute;left: 207.1px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-76-line-0 {position: absolute;left: 162.7px;top: 257.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-77-line-0 {position: absolute;left: 178.0px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-78-line-0 {position: absolute;left: 188.3px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-79-line-0 {position: absolute;left: 207.1px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-80-line-0 {position: absolute;left: 229.3px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-81-line-0 {position: absolute;left: 162.6px;top: 275.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-82-line-0 {position: absolute;left: 178.0px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-83-line-0 {position: absolute;left: 188.3px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-84-line-0 {position: absolute;left: 195.7px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-85-line-0 {position: absolute;left: 162.6px;top: 293.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-86-line-0 {position: absolute;left: 178.0px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-87-line-0 {position: absolute;left: 188.3px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-88-line-0 {position: absolute;left: 207.1px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-89-line-0 {position: absolute;left: 229.3px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-90-line-0 {position: absolute;left: 236.7px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-91-line-0 {position: absolute;left: 163.8px;top: 311.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-92-line-0 {position: absolute;left: 178.0px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-93-line-0 {position: absolute;left: 188.3px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-94-line-0 {position: absolute;left: 207.1px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-95-line-0 {position: absolute;left: 240.5px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-96-line-0 {position: absolute;left: 162.5px;top: 329.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-97-line-0 {position: absolute;left: 178.0px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-98-line-0 {position: absolute;left: 188.3px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-99-line-0 {position: absolute;left: 207.1px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-100-line-0 {position: absolute;left: 178.0px;top: 342.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-101-line-0 {position: absolute;left: 205.8px;top: 342.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-102-line-0 {position: absolute;left: 162.7px;top: 360.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-103-line-0 {position: absolute;left: 178.0px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-104-line-0 {position: absolute;left: 188.3px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-105-line-0 {position: absolute;left: 207.1px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-106-line-0 {position: absolute;left: 229.4px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-107-line-0 {position: absolute;left: 178.0px;top: 374.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-108-line-0 {position: absolute;left: 201.2px;top: 374.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-109-line-0 {position: absolute;left: 213.2px;top: 374.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-110-line-0 {position: absolute;left: 158.0px;top: 392.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-111-line-0 {position: absolute;left: 178.0px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-112-line-0 {position: absolute;left: 188.3px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-113-line-0 {position: absolute;left: 207.1px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-114-line-0 {position: absolute;left: 223.5px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-115-line-0 {position: absolute;left: 253.1px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-116-line-0 {position: absolute;left: 223.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-117-line-0 {position: absolute;left: 324.5px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-118-line-0 {position: absolute;left: 324.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-119-line-0 {position: absolute;left: 386.5px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-120-line-0 {position: absolute;left: 386.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-121-line-0 {position: absolute;left: 443.5px;top: 142.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-122-line-0 {position: absolute;left: 443.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-123-line-0 {position: absolute;left: 490.9px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-124-line-0 {position: absolute;left: 503.5px;top: 156.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-125-line-0 {position: absolute;left: 350.4px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-126-line-0 {position: absolute;left: 356.1px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-127-line-0 {position: absolute;left: 374.9px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-128-line-0 {position: absolute;left: 403.0px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-129-line-0 {position: absolute;left: 425.8px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-130-line-0 {position: absolute;left: 448.4px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-131-line-0 {position: absolute;left: 474.7px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-132-line-0 {position: absolute;left: 506.3px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-133-line-0 {position: absolute;left: 521.6px;top: 189.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-134-line-0 {position: absolute;left: 408.7px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-135-line-0 {position: absolute;left: 425.7px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-136-line-0 {position: absolute;left: 433.1px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-137-line-0 {position: absolute;left: 447.6px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-138-line-0 {position: absolute;left: 459.2px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-139-line-0 {position: absolute;left: 490.8px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-140-line-0 {position: absolute;left: 512.4px;top: 207.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-141-line-0 {position: absolute;left: 356.8px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-142-line-0 {position: absolute;left: 368.7px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-143-line-0 {position: absolute;left: 420.9px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-144-line-0 {position: absolute;left: 439.7px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-145-line-0 {position: absolute;left: 457.7px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-146-line-0 {position: absolute;left: 475.0px;top: 239.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-147-line-0 {position: absolute;left: 396.3px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-148-line-0 {position: absolute;left: 402.0px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-149-line-0 {position: absolute;left: 420.8px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-150-line-0 {position: absolute;left: 438.8px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-151-line-0 {position: absolute;left: 453.0px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-152-line-0 {position: absolute;left: 495.2px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-153-line-0 {position: absolute;left: 514.0px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-154-line-0 {position: absolute;left: 538.1px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-155-line-0 {position: absolute;left: 550.1px;top: 257.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-156-line-0 {position: absolute;left: 378.3px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-157-line-0 {position: absolute;left: 398.8px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-158-line-0 {position: absolute;left: 410.8px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-159-line-0 {position: absolute;left: 445.2px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-160-line-0 {position: absolute;left: 454.1px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-161-line-0 {position: absolute;left: 478.4px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-162-line-0 {position: absolute;left: 499.0px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-163-line-0 {position: absolute;left: 510.9px;top: 275.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-164-line-0 {position: absolute;left: 384.2px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-165-line-0 {position: absolute;left: 389.9px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-166-line-0 {position: absolute;left: 408.7px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-167-line-0 {position: absolute;left: 424.7px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-168-line-0 {position: absolute;left: 445.6px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-169-line-0 {position: absolute;left: 501.1px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-170-line-0 {position: absolute;left: 520.1px;top: 293.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-171-line-0 {position: absolute;left: 390.8px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-172-line-0 {position: absolute;left: 434.5px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-173-line-0 {position: absolute;left: 453.3px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-174-line-0 {position: absolute;left: 469.3px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-175-line-0 {position: absolute;left: 503.1px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-176-line-0 {position: absolute;left: 530.9px;top: 311.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-177-line-0 {position: absolute;left: 347.7px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-178-line-0 {position: absolute;left: 353.4px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-179-line-0 {position: absolute;left: 372.3px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-180-line-0 {position: absolute;left: 390.2px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-181-line-0 {position: absolute;left: 409.4px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-182-line-0 {position: absolute;left: 428.4px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-183-line-0 {position: absolute;left: 444.5px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-184-line-0 {position: absolute;left: 462.1px;top: 329.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-185-line-0 {position: absolute;left: 370.9px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-186-line-0 {position: absolute;left: 376.7px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-187-line-0 {position: absolute;left: 395.5px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-188-line-0 {position: absolute;left: 417.8px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-189-line-0 {position: absolute;left: 425.1px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-190-line-0 {position: absolute;left: 452.5px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-191-line-0 {position: absolute;left: 471.6px;top: 360.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-192-line-0 {position: absolute;left: 350.6px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-193-line-0 {position: absolute;left: 378.4px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-194-line-0 {position: absolute;left: 430.6px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-195-line-0 {position: absolute;left: 449.4px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-196-line-0 {position: absolute;left: 465.4px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-197-line-0 {position: absolute;left: 486.4px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-198-line-0 {position: absolute;left: 514.2px;top: 392.1px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-199-line-0 {position: absolute;left: 135.0px;top: 427px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-200-line-0 {position: absolute;left: 148.5px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-201-line-0 {position: absolute;left: 157.5px;top: 427px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-202-line-0 {position: absolute;left: 189.0px;top: 427px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-203-line-0 {position: absolute;left: 250.1px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-204-line-0 {position: absolute;left: 286.2px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-205-line-0 {position: absolute;left: 302.9px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-206-line-0 {position: absolute;left: 351.5px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-207-line-0 {position: absolute;left: 380.4px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-208-line-0 {position: absolute;left: 402.4px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-209-line-0 {position: absolute;left: 428.8px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-210-line-0 {position: absolute;left: 449.8px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-211-line-0 {position: absolute;left: 458.0px;top: 426.9px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-212-line-0 {position: absolute;left: 158.0px;top: 449.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-213-line-0 {position: absolute;left: 173.0px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-214-line-0 {position: absolute;left: 199.7px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-215-line-0 {position: absolute;left: 213.9px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-216-line-0 {position: absolute;left: 232.7px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-217-line-0 {position: absolute;left: 259.5px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-218-line-0 {position: absolute;left: 275.5px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-219-line-0 {position: absolute;left: 292.6px;top: 448px;font-size: 10.3px;font-family: 'GalliardStd-Black';}
#block-220-line-0 {position: absolute;left: 318.9px;top: 448px;font-size: 10.3px;font-family: 'GalliardStd-Black';}
#block-221-line-0 {position: absolute;left: 370.5px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-222-line-0 {position: absolute;left: 382.0px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-223-line-0 {position: absolute;left: 401.4px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-224-line-0 {position: absolute;left: 435.2px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-225-line-0 {position: absolute;left: 458.5px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-226-line-0 {position: absolute;left: 477.6px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-227-line-0 {position: absolute;left: 484.9px;top: 449px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-228-line-0 {position: absolute;left: 158.0px;top: 467.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-229-line-0 {position: absolute;left: 173.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-230-line-0 {position: absolute;left: 190.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-231-line-0 {position: absolute;left: 208.9px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-232-line-0 {position: absolute;left: 226.8px;top: 466px;font-size: 10.3px;font-family: 'GalliardStd-Black';}
#block-233-line-0 {position: absolute;left: 274.3px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-234-line-0 {position: absolute;left: 302.2px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-235-line-0 {position: absolute;left: 325.0px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-236-line-0 {position: absolute;left: 358.8px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-237-line-0 {position: absolute;left: 384.3px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-238-line-0 {position: absolute;left: 396.6px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-239-line-0 {position: absolute;left: 417.2px;top: 467px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-240-line-0 {position: absolute;left: 158.0px;top: 485.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-241-line-0 {position: absolute;left: 173.0px;top: 485px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-242-line-0 {position: absolute;left: 197.4px;top: 485px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-243-line-0 {position: absolute;left: 211.6px;top: 485px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-244-line-0 {position: absolute;left: 230.4px;top: 484px;font-size: 10.3px;font-family: 'GalliardStd-Black';}
#block-245-line-0 {position: absolute;left: 274.1px;top: 485px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-246-line-0 {position: absolute;left: 135.0px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-247-line-0 {position: absolute;left: 148.5px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-248-line-0 {position: absolute;left: 157.5px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-249-line-0 {position: absolute;left: 234.4px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-250-line-0 {position: absolute;left: 252.8px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-251-line-0 {position: absolute;left: 267.5px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-252-line-0 {position: absolute;left: 297.1px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-253-line-0 {position: absolute;left: 315.8px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-254-line-0 {position: absolute;left: 339.8px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-255-line-0 {position: absolute;left: 348.0px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-256-line-0 {position: absolute;left: 381.8px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-257-line-0 {position: absolute;left: 411.9px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-258-line-0 {position: absolute;left: 422.2px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-259-line-0 {position: absolute;left: 448.6px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-260-line-0 {position: absolute;left: 459.9px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-261-line-0 {position: absolute;left: 474.1px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-262-line-0 {position: absolute;left: 506.5px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-263-line-0 {position: absolute;left: 535.2px;top: 520px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-264-line-0 {position: absolute;left: 157.5px;top: 533.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-265-line-0 {position: absolute;left: 184.0px;top: 533.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-266-line-0 {position: absolute;left: 205.0px;top: 533.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-267-line-0 {position: absolute;left: 213.2px;top: 533.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-268-line-0 {position: absolute;left: 43.1px;top: 559.2px;font-size: 11.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-269-line-0 {position: absolute;left: 40.5px;top: 580.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-270-line-0 {position: absolute;left: 64.3px;top: 580.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-271-line-0 {position: absolute;left: 40.5px;top: 590.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-272-line-0 {position: absolute;left: 58.3px;top: 590.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-273-line-0 {position: absolute;left: 40.5px;top: 600.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-274-line-0 {position: absolute;left: 50.0px;top: 600.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-275-line-0 {position: absolute;left: 78.3px;top: 600.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-276-line-0 {position: absolute;left: 40.5px;top: 610.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-277-line-0 {position: absolute;left: 47.2px;top: 610.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-278-line-0 {position: absolute;left: 81.3px;top: 610.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-279-line-0 {position: absolute;left: 40.5px;top: 620.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-280-line-0 {position: absolute;left: 66.6px;top: 620.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-281-line-0 {position: absolute;left: 84.3px;top: 620.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-282-line-0 {position: absolute;left: 40.5px;top: 630.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-283-line-0 {position: absolute;left: 58.6px;top: 630.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-284-line-0 {position: absolute;left: 74.3px;top: 630.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-285-line-0 {position: absolute;left: 40.5px;top: 640.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-286-line-0 {position: absolute;left: 60.9px;top: 640.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-287-line-0 {position: absolute;left: 70.4px;top: 640.2px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-288-line-0 {position: absolute;left: 40.5px;top: 650.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-289-line-0 {position: absolute;left: 51.5px;top: 650.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-290-line-0 {position: absolute;left: 67.2px;top: 650.3px;font-size: 8.5px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-291-line-0 {position: absolute;left: 158.0px;top: 556px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-292-line-0 {position: absolute;left: 158.0px;top: 574px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-293-line-0 {position: absolute;left: 289.0px;top: 556px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-294-line-0 {position: absolute;left: 289.0px;top: 574px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-295-line-0 {position: absolute;left: 423.0px;top: 556px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-296-line-0 {position: absolute;left: 423.0px;top: 574px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-297-line-0 {position: absolute;left: 135.0px;top: 608.6px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-298-line-0 {position: absolute;left: 148.5px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-299-line-0 {position: absolute;left: 157.5px;top: 608.6px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-300-line-0 {position: absolute;left: 214.7px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-301-line-0 {position: absolute;left: 241.0px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-302-line-0 {position: absolute;left: 257.8px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-303-line-0 {position: absolute;left: 275.8px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-304-line-0 {position: absolute;left: 295.5px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-305-line-0 {position: absolute;left: 312.2px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-306-line-0 {position: absolute;left: 358.6px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-307-line-0 {position: absolute;left: 369.7px;top: 608.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-308-line-0 {position: absolute;left: 157.5px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-309-line-0 {position: absolute;left: 193.4px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-310-line-0 {position: absolute;left: 233.9px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-311-line-0 {position: absolute;left: 248.0px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-312-line-0 {position: absolute;left: 278.2px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-313-line-0 {position: absolute;left: 301.2px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-314-line-0 {position: absolute;left: 327.4px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-315-line-0 {position: absolute;left: 341.8px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-316-line-0 {position: absolute;left: 360.6px;top: 622px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-317-line-0 {position: absolute;left: 157.5px;top: 635.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-318-line-0 {position: absolute;left: 174.3px;top: 635.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-319-line-0 {position: absolute;left: 210.1px;top: 635.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-320-line-0 {position: absolute;left: 250.7px;top: 635.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-321-line-0 {position: absolute;left: 260.4px;top: 635.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-322-line-0 {position: absolute;left: 158.0px;top: 658px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-323-line-0 {position: absolute;left: 173.0px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-324-line-0 {position: absolute;left: 215.8px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-325-line-0 {position: absolute;left: 246.3px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-326-line-0 {position: absolute;left: 272.3px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-327-line-0 {position: absolute;left: 312.6px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-328-line-0 {position: absolute;left: 344.1px;top: 657.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-329-line-0 {position: absolute;left: 158.0px;top: 676px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-330-line-0 {position: absolute;left: 173.0px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-331-line-0 {position: absolute;left: 211.7px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-332-line-0 {position: absolute;left: 221.0px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-333-line-0 {position: absolute;left: 238.1px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-334-line-0 {position: absolute;left: 262.4px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-335-line-0 {position: absolute;left: 309.4px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-336-line-0 {position: absolute;left: 336.1px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-337-line-0 {position: absolute;left: 351.4px;top: 675.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-338-line-0 {position: absolute;left: 158.0px;top: 694px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-339-line-0 {position: absolute;left: 173.0px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-340-line-0 {position: absolute;left: 216.4px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-341-line-0 {position: absolute;left: 244.0px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-342-line-0 {position: absolute;left: 261.0px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-343-line-0 {position: absolute;left: 285.6px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-344-line-0 {position: absolute;left: 309.6px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-345-line-0 {position: absolute;left: 340.2px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-346-line-0 {position: absolute;left: 352.1px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-347-line-0 {position: absolute;left: 365.4px;top: 693.6px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-348-line-0 {position: absolute;left: 465.9px;top: 613.3px;font-size: 12.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-349-line-0 {position: absolute;left: 465.9px;top: 627.7px;font-size: 12.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-350-line-0 {position: absolute;left: 447.3px;top: 643.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-351-line-0 {position: absolute;left: 457.5px;top: 643.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-352-line-0 {position: absolute;left: 488.3px;top: 643.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-353-line-0 {position: absolute;left: 505.5px;top: 643.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-354-line-0 {position: absolute;left: 447.3px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-355-line-0 {position: absolute;left: 461.8px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-356-line-0 {position: absolute;left: 468.2px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-357-line-0 {position: absolute;left: 503.6px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-358-line-0 {position: absolute;left: 512.6px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-359-line-0 {position: absolute;left: 527.3px;top: 653.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-360-line-0 {position: absolute;left: 447.3px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-361-line-0 {position: absolute;left: 469.0px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-362-line-0 {position: absolute;left: 477.8px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-363-line-0 {position: absolute;left: 484.2px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-364-line-0 {position: absolute;left: 506.0px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-365-line-0 {position: absolute;left: 523.4px;top: 663.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-366-line-0 {position: absolute;left: 447.3px;top: 673.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-367-line-0 {position: absolute;left: 483.6px;top: 673.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-368-line-0 {position: absolute;left: 496.2px;top: 673.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-369-line-0 {position: absolute;left: 447.3px;top: 683.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-370-line-0 {position: absolute;left: 465.8px;top: 683.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-371-line-0 {position: absolute;left: 493.2px;top: 683.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-372-line-0 {position: absolute;left: 505.8px;top: 683.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-373-line-0 {position: absolute;left: 447.3px;top: 693.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-374-line-0 {position: absolute;left: 459.9px;top: 693.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-375-line-0 {position: absolute;left: 492.8px;top: 693.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-376-line-0 {position: absolute;left: 511.3px;top: 693.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-377-line-0 {position: absolute;left: 528.5px;top: 693.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-378-line-0 {position: absolute;left: 447.3px;top: 703.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-379-line-0 {position: absolute;left: 480.6px;top: 703.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-380-line-0 {position: absolute;left: 499.1px;top: 703.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-381-line-0 {position: absolute;left: 447.3px;top: 713.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-382-line-0 {position: absolute;left: 465.8px;top: 713.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-383-line-0 {position: absolute;left: 497.8px;top: 713.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-384-line-0 {position: absolute;left: 510.4px;top: 713.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-385-line-0 {position: absolute;left: 27.0px;top: 750.6px;font-size: 9.0px;font-family: 'GalliardStd-Black';}
#block-386-line-0 {position: absolute;left: 40.2px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
#block-387-line-0 {position: absolute;left: 49.1px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
#block-388-line-0 {position: absolute;left: 75.3px;top: 751.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-LtEx';}
