* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
	max-width:1024px;
	min-width:416px;
}

#block-0-line-0 {position: absolute;left: 59.0px;top: 40.7px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-1-line-0 {position: absolute;left: 94.7px;top: 118.3px;font-size: 31.0px;font-family: 'BritannicBold';}
#block-2-line-0 {position: absolute;left: 127.3px;top: 118.3px;font-size: 31.0px;font-family: 'BritannicBold';}
#block-3-line-0 {position: absolute;left: 205.8px;top: 118.3px;font-size: 31.0px;font-family: 'BritannicBold';}
#block-4-line-0 {position: absolute;left: 94.7px;top: 138.1px;font-size: 55.7px;font-family: 'BritannicBold';}
#block-5-line-0 {position: absolute;left: 94.7px;top: 190.2px;font-size: 31.0px;font-family: 'BritannicBold';}
#block-6-line-0 {position: absolute;left: 94.7px;top: 213.7px;font-size: 55.7px;font-family: 'BritannicBold';}
#block-7-line-0 {position: absolute;left: 62.3px;top: 346.5px;font-size: 5.5px;font-family: 'HelveticaNeueLTStd-Cn';}
#block-8-line-0 {position: absolute;left: 74.4px;top: 346.5px;font-size: 5.5px;font-family: 'HelveticaNeueLTStd-BdCn';}
#block-9-line-0 {position: absolute;left: 482.8px;top: 147.8px;font-size: 4.2px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-10-line-0 {position: absolute;left: 237.9px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-11-line-0 {position: absolute;left: 245.3px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-12-line-0 {position: absolute;left: 270.1px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-13-line-0 {position: absolute;left: 293.1px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-14-line-0 {position: absolute;left: 314.7px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-15-line-0 {position: absolute;left: 340.3px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-16-line-0 {position: absolute;left: 352.2px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-17-line-0 {position: absolute;left: 364.8px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-18-line-0 {position: absolute;left: 381.3px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-19-line-0 {position: absolute;left: 416.4px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-20-line-0 {position: absolute;left: 425.6px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-21-line-0 {position: absolute;left: 436.7px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-22-line-0 {position: absolute;left: 469.7px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-23-line-0 {position: absolute;left: 497.1px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-24-line-0 {position: absolute;left: 505.6px;top: 326.5px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-25-line-0 {position: absolute;left: 70.4px;top: 364.6px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-26-line-0 {position: absolute;left: 94.7px;top: 342.3px;font-size: 12.0px;font-family: 'GalliardStd-Black';}
#block-27-line-0 {position: absolute;left: 130.4px;top: 346.9px;font-size: 8.4px;font-family: 'GalliardStd-Black';}
#block-28-line-0 {position: absolute;left: 166.4px;top: 346.9px;font-size: 8.4px;font-family: 'GalliardStd-Black';}
#block-29-line-0 {position: absolute;left: 182.4px;top: 346.9px;font-size: 8.4px;font-family: 'GalliardStd-Black';}
#block-30-line-0 {position: absolute;left: 222.4px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-31-line-0 {position: absolute;left: 265.0px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-32-line-0 {position: absolute;left: 309.8px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-33-line-0 {position: absolute;left: 321.3px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-34-line-0 {position: absolute;left: 351.1px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-35-line-0 {position: absolute;left: 374.8px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-36-line-0 {position: absolute;left: 396.6px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-37-line-0 {position: absolute;left: 416.3px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-38-line-0 {position: absolute;left: 459.0px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-39-line-0 {position: absolute;left: 478.7px;top: 346.4px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-40-line-0 {position: absolute;left: 94.7px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-41-line-0 {position: absolute;left: 112.4px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-42-line-0 {position: absolute;left: 164.6px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-43-line-0 {position: absolute;left: 220.3px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-44-line-0 {position: absolute;left: 234.3px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-45-line-0 {position: absolute;left: 266.4px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-46-line-0 {position: absolute;left: 309.7px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-47-line-0 {position: absolute;left: 350.5px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-48-line-0 {position: absolute;left: 372.6px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-49-line-0 {position: absolute;left: 426.3px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-50-line-0 {position: absolute;left: 444.9px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-51-line-0 {position: absolute;left: 467.8px;top: 361.2px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-52-line-0 {position: absolute;left: 94.7px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-53-line-0 {position: absolute;left: 174.4px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-54-line-0 {position: absolute;left: 201.7px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-55-line-0 {position: absolute;left: 238.2px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-56-line-0 {position: absolute;left: 262.1px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-57-line-0 {position: absolute;left: 277.7px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-58-line-0 {position: absolute;left: 311.1px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-59-line-0 {position: absolute;left: 328.8px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-60-line-0 {position: absolute;left: 375.3px;top: 375.8px;font-size: 12.0px;font-family: 'GalliardStd-Roman';}
#block-61-line-0 {position: absolute;left: 94.7px;top: 397.3px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-62-line-0 {position: absolute;left: 148.1px;top: 397.3px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-63-line-0 {position: absolute;left: 182.9px;top: 397.3px;font-size: 17.1px;font-family: 'BritannicBold';}
#block-64-line-0 {position: absolute;left: 70.3px;top: 450.7px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-65-line-0 {position: absolute;left: 112.7px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-66-line-0 {position: absolute;left: 141.4px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-67-line-0 {position: absolute;left: 157.4px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-68-line-0 {position: absolute;left: 183.0px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-69-line-0 {position: absolute;left: 206.0px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-70-line-0 {position: absolute;left: 240.0px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-71-line-0 {position: absolute;left: 271.5px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-72-line-0 {position: absolute;left: 288.3px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-73-line-0 {position: absolute;left: 319.5px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-74-line-0 {position: absolute;left: 338.0px;top: 424.5px;font-size: 6.0px;font-family: 'GalliardStd-Roman';}
#block-75-line-0 {position: absolute;left: 344.2px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-76-line-0 {position: absolute;left: 355.7px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-77-line-0 {position: absolute;left: 372.7px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-78-line-0 {position: absolute;left: 398.3px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-79-line-0 {position: absolute;left: 429.1px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-80-line-0 {position: absolute;left: 440.7px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-81-line-0 {position: absolute;left: 489.9px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-82-line-0 {position: absolute;left: 521.7px;top: 423.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-83-line-0 {position: absolute;left: 94.7px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-84-line-0 {position: absolute;left: 111.7px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-85-line-0 {position: absolute;left: 139.8px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-86-line-0 {position: absolute;left: 164.4px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-87-line-0 {position: absolute;left: 177.8px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-88-line-0 {position: absolute;left: 212.7px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-89-line-0 {position: absolute;left: 224.3px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-90-line-0 {position: absolute;left: 238.4px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-91-line-0 {position: absolute;left: 266.1px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-92-line-0 {position: absolute;left: 282.9px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-93-line-0 {position: absolute;left: 310.4px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-94-line-0 {position: absolute;left: 330.7px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-95-line-0 {position: absolute;left: 367.9px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-96-line-0 {position: absolute;left: 384.9px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-97-line-0 {position: absolute;left: 409.9px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-98-line-0 {position: absolute;left: 433.9px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-99-line-0 {position: absolute;left: 449.2px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-100-line-0 {position: absolute;left: 490.5px;top: 438.5px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-101-line-0 {position: absolute;left: 94.7px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-102-line-0 {position: absolute;left: 133.1px;top: 454px;font-size: 6.0px;font-family: 'GalliardStd-Roman';}
#block-103-line-0 {position: absolute;left: 139.3px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-104-line-0 {position: absolute;left: 172.2px;top: 454px;font-size: 6.0px;font-family: 'GalliardStd-Roman';}
#block-105-line-0 {position: absolute;left: 178.5px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-106-line-0 {position: absolute;left: 197.5px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-107-line-0 {position: absolute;left: 220.0px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-108-line-0 {position: absolute;left: 235.3px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-109-line-0 {position: absolute;left: 253.0px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-110-line-0 {position: absolute;left: 291.0px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-111-line-0 {position: absolute;left: 298.4px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-112-line-0 {position: absolute;left: 326.8px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-113-line-0 {position: absolute;left: 345.4px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-114-line-0 {position: absolute;left: 390.9px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-115-line-0 {position: absolute;left: 402.9px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-116-line-0 {position: absolute;left: 419.9px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-117-line-0 {position: absolute;left: 449.6px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-118-line-0 {position: absolute;left: 492.2px;top: 453.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-119-line-0 {position: absolute;left: 94.7px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-120-line-0 {position: absolute;left: 146.0px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-121-line-0 {position: absolute;left: 192.4px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-122-line-0 {position: absolute;left: 201.7px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-123-line-0 {position: absolute;left: 218.7px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-124-line-0 {position: absolute;left: 257.4px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-125-line-0 {position: absolute;left: 294.6px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-126-line-0 {position: absolute;left: 306.1px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-127-line-0 {position: absolute;left: 330.1px;top: 468px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-128-line-0 {position: absolute;left: 112.7px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-129-line-0 {position: absolute;left: 134.5px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-130-line-0 {position: absolute;left: 165.5px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-131-line-0 {position: absolute;left: 180.9px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-132-line-0 {position: absolute;left: 233.4px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-133-line-0 {position: absolute;left: 278.4px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-134-line-0 {position: absolute;left: 287.7px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-135-line-0 {position: absolute;left: 308.1px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-136-line-0 {position: absolute;left: 325.1px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-137-line-0 {position: absolute;left: 380.2px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-138-line-0 {position: absolute;left: 419.5px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-139-line-0 {position: absolute;left: 436.6px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-140-line-0 {position: absolute;left: 460.6px;top: 488.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-141-line-0 {position: absolute;left: 94.7px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-142-line-0 {position: absolute;left: 117.1px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-143-line-0 {position: absolute;left: 128.4px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-144-line-0 {position: absolute;left: 148.9px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-145-line-0 {position: absolute;left: 168.0px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-146-line-0 {position: absolute;left: 208.5px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-147-line-0 {position: absolute;left: 237.3px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-148-line-0 {position: absolute;left: 246.6px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-149-line-0 {position: absolute;left: 278.7px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-150-line-0 {position: absolute;left: 292.8px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-151-line-0 {position: absolute;left: 331.0px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-152-line-0 {position: absolute;left: 350.0px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-153-line-0 {position: absolute;left: 396.4px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-154-line-0 {position: absolute;left: 413.4px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-155-line-0 {position: absolute;left: 432.3px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-156-line-0 {position: absolute;left: 443.8px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-157-line-0 {position: absolute;left: 460.9px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-158-line-0 {position: absolute;left: 491.2px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-159-line-0 {position: absolute;left: 517.0px;top: 502.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-160-line-0 {position: absolute;left: 94.7px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-161-line-0 {position: absolute;left: 163.1px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-162-line-0 {position: absolute;left: 174.6px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-163-line-0 {position: absolute;left: 191.6px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-164-line-0 {position: absolute;left: 222.3px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-165-line-0 {position: absolute;left: 242.6px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-166-line-0 {position: absolute;left: 297.8px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-167-line-0 {position: absolute;left: 329.9px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-168-line-0 {position: absolute;left: 350.4px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-169-line-0 {position: absolute;left: 365.8px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-170-line-0 {position: absolute;left: 397.3px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-171-line-0 {position: absolute;left: 418.9px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-172-line-0 {position: absolute;left: 435.0px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-173-line-0 {position: absolute;left: 494.1px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-174-line-0 {position: absolute;left: 504.4px;top: 517.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-175-line-0 {position: absolute;left: 94.7px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-176-line-0 {position: absolute;left: 110.4px;top: 533.2px;font-size: 6.0px;font-family: 'GalliardStd-Roman';}
#block-177-line-0 {position: absolute;left: 116.7px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-178-line-0 {position: absolute;left: 148.7px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-179-line-0 {position: absolute;left: 186.4px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-180-line-0 {position: absolute;left: 221.1px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-181-line-0 {position: absolute;left: 233.4px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-182-line-0 {position: absolute;left: 274.9px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-183-line-0 {position: absolute;left: 292.9px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-184-line-0 {position: absolute;left: 315.2px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-185-line-0 {position: absolute;left: 322.5px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-186-line-0 {position: absolute;left: 369.1px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-187-line-0 {position: absolute;left: 409.6px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-188-line-0 {position: absolute;left: 421.2px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-189-line-0 {position: absolute;left: 451.5px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-190-line-0 {position: absolute;left: 471.8px;top: 532.4px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-191-line-0 {position: absolute;left: 94.7px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-192-line-0 {position: absolute;left: 114.6px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-193-line-0 {position: absolute;left: 141.8px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-194-line-0 {position: absolute;left: 158.0px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-195-line-0 {position: absolute;left: 186.0px;top: 547.9px;font-size: 6.0px;font-family: 'GalliardStd-Roman';}
#block-196-line-0 {position: absolute;left: 192.2px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-197-line-0 {position: absolute;left: 204.2px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-198-line-0 {position: absolute;left: 235.7px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-199-line-0 {position: absolute;left: 257.3px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-200-line-0 {position: absolute;left: 279.4px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-201-line-0 {position: absolute;left: 302.2px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-202-line-0 {position: absolute;left: 325.8px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-203-line-0 {position: absolute;left: 352.9px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-204-line-0 {position: absolute;left: 390.3px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-205-line-0 {position: absolute;left: 412.8px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-206-line-0 {position: absolute;left: 433.3px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-207-line-0 {position: absolute;left: 446.6px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-208-line-0 {position: absolute;left: 467.2px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-209-line-0 {position: absolute;left: 481.7px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-210-line-0 {position: absolute;left: 516.6px;top: 547.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-211-line-0 {position: absolute;left: 94.7px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-212-line-0 {position: absolute;left: 119.9px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-213-line-0 {position: absolute;left: 151.4px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-214-line-0 {position: absolute;left: 169.1px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-215-line-0 {position: absolute;left: 191.7px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-216-line-0 {position: absolute;left: 215.4px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-217-line-0 {position: absolute;left: 257.1px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-218-line-0 {position: absolute;left: 277.5px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-219-line-0 {position: absolute;left: 304.5px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-220-line-0 {position: absolute;left: 313.9px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-221-line-0 {position: absolute;left: 321.2px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-222-line-0 {position: absolute;left: 335.8px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-223-line-0 {position: absolute;left: 347.4px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-224-line-0 {position: absolute;left: 378.7px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-225-line-0 {position: absolute;left: 426.5px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-226-line-0 {position: absolute;left: 463.1px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-227-line-0 {position: absolute;left: 485.7px;top: 561.9px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-228-line-0 {position: absolute;left: 94.7px;top: 576.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-229-line-0 {position: absolute;left: 121.2px;top: 576.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-230-line-0 {position: absolute;left: 165.7px;top: 576.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-231-line-0 {position: absolute;left: 177.3px;top: 576.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-232-line-0 {position: absolute;left: 112.7px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-233-line-0 {position: absolute;left: 144.5px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-234-line-0 {position: absolute;left: 165.1px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-235-line-0 {position: absolute;left: 182.7px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-236-line-0 {position: absolute;left: 196.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-237-line-0 {position: absolute;left: 209.3px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-238-line-0 {position: absolute;left: 238.2px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-239-line-0 {position: absolute;left: 266.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-240-line-0 {position: absolute;left: 283.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-241-line-0 {position: absolute;left: 307.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-242-line-0 {position: absolute;left: 324.6px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-243-line-0 {position: absolute;left: 346.4px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-244-line-0 {position: absolute;left: 362.4px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-245-line-0 {position: absolute;left: 404.5px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-246-line-0 {position: absolute;left: 433.3px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-247-line-0 {position: absolute;left: 456.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-248-line-0 {position: absolute;left: 473.0px;top: 596.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-249-line-0 {position: absolute;left: 94.7px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-250-line-0 {position: absolute;left: 120.5px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-251-line-0 {position: absolute;left: 140.7px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-252-line-0 {position: absolute;left: 152.2px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-253-line-0 {position: absolute;left: 178.5px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-254-line-0 {position: absolute;left: 195.5px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-255-line-0 {position: absolute;left: 225.0px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-256-line-0 {position: absolute;left: 254.5px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-257-line-0 {position: absolute;left: 282.2px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-258-line-0 {position: absolute;left: 301.2px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-259-line-0 {position: absolute;left: 318.2px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-260-line-0 {position: absolute;left: 349.1px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-261-line-0 {position: absolute;left: 365.1px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-262-line-0 {position: absolute;left: 384.3px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-263-line-0 {position: absolute;left: 403.3px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-264-line-0 {position: absolute;left: 431.3px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-265-line-0 {position: absolute;left: 445.4px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-266-line-0 {position: absolute;left: 460.7px;top: 611.7px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-267-line-0 {position: absolute;left: 94.7px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-268-line-0 {position: absolute;left: 103.5px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-269-line-0 {position: absolute;left: 131.9px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-270-line-0 {position: absolute;left: 152.2px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-271-line-0 {position: absolute;left: 179.7px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-272-line-0 {position: absolute;left: 191.3px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-273-line-0 {position: absolute;left: 198.6px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-274-line-0 {position: absolute;left: 231.8px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-275-line-0 {position: absolute;left: 259.9px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-276-line-0 {position: absolute;left: 278.9px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-277-line-0 {position: absolute;left: 298.1px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-278-line-0 {position: absolute;left: 322.6px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-279-line-0 {position: absolute;left: 343.1px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-280-line-0 {position: absolute;left: 356.5px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-281-line-0 {position: absolute;left: 382.0px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-282-line-0 {position: absolute;left: 429.0px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-283-line-0 {position: absolute;left: 452.0px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-284-line-0 {position: absolute;left: 484.0px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-285-line-0 {position: absolute;left: 491.4px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-286-line-0 {position: absolute;left: 506.0px;top: 626.3px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-287-line-0 {position: absolute;left: 94.7px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-288-line-0 {position: absolute;left: 134.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-289-line-0 {position: absolute;left: 176.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-290-line-0 {position: absolute;left: 190.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-291-line-0 {position: absolute;left: 207.6px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-292-line-0 {position: absolute;left: 227.4px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-293-line-0 {position: absolute;left: 246.8px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-294-line-0 {position: absolute;left: 263.4px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-295-line-0 {position: absolute;left: 275.0px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-296-line-0 {position: absolute;left: 327.6px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-297-line-0 {position: absolute;left: 368.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-298-line-0 {position: absolute;left: 379.8px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-299-line-0 {position: absolute;left: 409.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-300-line-0 {position: absolute;left: 443.9px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-301-line-0 {position: absolute;left: 484.8px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-302-line-0 {position: absolute;left: 500.4px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-303-line-0 {position: absolute;left: 519.2px;top: 641.2px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-304-line-0 {position: absolute;left: 94.7px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-305-line-0 {position: absolute;left: 131.3px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-306-line-0 {position: absolute;left: 150.4px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-307-line-0 {position: absolute;left: 194.3px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-308-line-0 {position: absolute;left: 205.9px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-309-line-0 {position: absolute;left: 240.5px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-310-line-0 {position: absolute;left: 264.4px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-311-line-0 {position: absolute;left: 283.2px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-312-line-0 {position: absolute;left: 307.3px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-313-line-0 {position: absolute;left: 318.8px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-314-line-0 {position: absolute;left: 338.1px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-315-line-0 {position: absolute;left: 360.8px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-316-line-0 {position: absolute;left: 379.6px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-317-line-0 {position: absolute;left: 395.6px;top: 655.8px;font-size: 10.3px;font-family: 'GalliardStd-Roman';}
#block-318-line-0 {position: absolute;left: 70.1px;top: 536.1px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-319-line-0 {position: absolute;left: 70.1px;top: 630.7px;font-size: 9.6px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-320-line-0 {position: absolute;left: 106.7px;top: 702.8px;font-size: 4.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-321-line-0 {position: absolute;left: 106.7px;top: 714.5px;font-size: 4.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-322-line-0 {position: absolute;left: 112.0px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-323-line-0 {position: absolute;left: 119.3px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-324-line-0 {position: absolute;left: 148.7px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-325-line-0 {position: absolute;left: 167.5px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-326-line-0 {position: absolute;left: 174.5px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-327-line-0 {position: absolute;left: 192.1px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-328-line-0 {position: absolute;left: 218.4px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-329-line-0 {position: absolute;left: 112.0px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-330-line-0 {position: absolute;left: 147.6px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-331-line-0 {position: absolute;left: 155.2px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-332-line-0 {position: absolute;left: 181.8px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-333-line-0 {position: absolute;left: 213.2px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-334-line-0 {position: absolute;left: 222.5px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-335-line-0 {position: absolute;left: 242.3px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-336-line-0 {position: absolute;left: 260.4px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-337-line-0 {position: absolute;left: 287.4px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-338-line-0 {position: absolute;left: 106.7px;top: 726.1px;font-size: 4.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-339-line-0 {position: absolute;left: 112.0px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-340-line-0 {position: absolute;left: 141.9px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-341-line-0 {position: absolute;left: 149.6px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-342-line-0 {position: absolute;left: 173.4px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-343-line-0 {position: absolute;left: 182.7px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-344-line-0 {position: absolute;left: 213.1px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-345-line-0 {position: absolute;left: 228.7px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-346-line-0 {position: absolute;left: 241.9px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-347-line-0 {position: absolute;left: 268.0px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-348-line-0 {position: absolute;left: 277.3px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-349-line-0 {position: absolute;left: 301.4px;top: 725.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-350-line-0 {position: absolute;left: 112.0px;top: 735.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-351-line-0 {position: absolute;left: 131.5px;top: 735.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-352-line-0 {position: absolute;left: 140.8px;top: 735.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-353-line-0 {position: absolute;left: 161.1px;top: 735.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-354-line-0 {position: absolute;left: 184.5px;top: 735.6px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-355-line-0 {position: absolute;left: 334.2px;top: 702.8px;font-size: 4.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-356-line-0 {position: absolute;left: 334.2px;top: 714.5px;font-size: 4.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-357-line-0 {position: absolute;left: 339.5px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-358-line-0 {position: absolute;left: 345.7px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-359-line-0 {position: absolute;left: 360.5px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-360-line-0 {position: absolute;left: 375.6px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-361-line-0 {position: absolute;left: 414.6px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-362-line-0 {position: absolute;left: 428.7px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-363-line-0 {position: absolute;left: 443.5px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-364-line-0 {position: absolute;left: 459.2px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-365-line-0 {position: absolute;left: 468.2px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-366-line-0 {position: absolute;left: 474.4px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-367-line-0 {position: absolute;left: 483.3px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-368-line-0 {position: absolute;left: 504.7px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-369-line-0 {position: absolute;left: 510.9px;top: 702.3px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-370-line-0 {position: absolute;left: 339.5px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-371-line-0 {position: absolute;left: 345.7px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-372-line-0 {position: absolute;left: 358.8px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-373-line-0 {position: absolute;left: 403.0px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-374-line-0 {position: absolute;left: 423.3px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-375-line-0 {position: absolute;left: 458.3px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-376-line-0 {position: absolute;left: 464.7px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-377-line-0 {position: absolute;left: 479.1px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-378-line-0 {position: absolute;left: 506.1px;top: 713.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-379-line-0 {position: absolute;left: 339.5px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-380-line-0 {position: absolute;left: 364.6px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-381-line-0 {position: absolute;left: 377.8px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-382-line-0 {position: absolute;left: 406.8px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-383-line-0 {position: absolute;left: 415.5px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-384-line-0 {position: absolute;left: 428.6px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-385-line-0 {position: absolute;left: 445.5px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-386-line-0 {position: absolute;left: 464.2px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-387-line-0 {position: absolute;left: 473.1px;top: 723.9px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-388-line-0 {position: absolute;left: 511.9px;top: 753.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-389-line-0 {position: absolute;left: 570.4px;top: 752.5px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-390-line-0 {position: absolute;left: 579.3px;top: 750px;font-size: 9.0px;font-family: 'GalliardStd-Black';}
