* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
}

#block-0-line-0 {position: absolute;left: 51.8px;top: 43.3px;font-size: 18.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-1-line-0 {position: absolute;left: 145.7px;top: 43.3px;font-size: 18.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-2-line-0 {position: absolute;left: 182.0px;top: 43.3px;font-size: 18.0px;font-family: 'HelveticaNeueLTStd-Ex';}
#block-3-line-0 {position: absolute;left: 54.3px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-4-line-0 {position: absolute;left: 79.3px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-5-line-0 {position: absolute;left: 90.5px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-6-line-0 {position: absolute;left: 107.3px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-7-line-0 {position: absolute;left: 159.3px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-8-line-0 {position: absolute;left: 187.8px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-9-line-0 {position: absolute;left: 207.1px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-10-line-0 {position: absolute;left: 243.7px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-11-line-0 {position: absolute;left: 263.4px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-12-line-0 {position: absolute;left: 299.9px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-13-line-0 {position: absolute;left: 316.7px;top: 86.8px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-14-line-0 {position: absolute;left: 69.3px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-15-line-0 {position: absolute;left: 80.3px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-16-line-0 {position: absolute;left: 112.1px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-17-line-0 {position: absolute;left: 128.9px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-18-line-0 {position: absolute;left: 145.6px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-19-line-0 {position: absolute;left: 186.5px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-20-line-0 {position: absolute;left: 218.3px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-21-line-0 {position: absolute;left: 232.3px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-22-line-0 {position: absolute;left: 261.5px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-23-line-0 {position: absolute;left: 308.5px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-24-line-0 {position: absolute;left: 319.8px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-25-line-0 {position: absolute;left: 336.6px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-26-line-0 {position: absolute;left: 355.9px;top: 105.7px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-27-line-0 {position: absolute;left: 80.3px;top: 119.2px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-28-line-0 {position: absolute;left: 103.7px;top: 119.2px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-29-line-0 {position: absolute;left: 118.2px;top: 119.2px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-30-line-0 {position: absolute;left: 134.9px;top: 119.2px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-31-line-0 {position: absolute;left: 166.8px;top: 119.2px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-32-line-0 {position: absolute;left: 69.3px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-33-line-0 {position: absolute;left: 80.3px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-34-line-0 {position: absolute;left: 102.8px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-35-line-0 {position: absolute;left: 117.2px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-36-line-0 {position: absolute;left: 136.0px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-37-line-0 {position: absolute;left: 160.0px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-38-line-0 {position: absolute;left: 193.1px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-39-line-0 {position: absolute;left: 216.1px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-40-line-0 {position: absolute;left: 243.3px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-41-line-0 {position: absolute;left: 287.0px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-42-line-0 {position: absolute;left: 303.7px;top: 138.1px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-43-line-0 {position: absolute;left: 69.3px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-44-line-0 {position: absolute;left: 80.6px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-45-line-0 {position: absolute;left: 118.1px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-46-line-0 {position: absolute;left: 136.8px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-47-line-0 {position: absolute;left: 161.2px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-48-line-0 {position: absolute;left: 172.5px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-49-line-0 {position: absolute;left: 191.4px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-50-line-0 {position: absolute;left: 208.1px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-51-line-0 {position: absolute;left: 249.0px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-52-line-0 {position: absolute;left: 275.7px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-53-line-0 {position: absolute;left: 286.0px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-54-line-0 {position: absolute;left: 308.0px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-55-line-0 {position: absolute;left: 346.6px;top: 157px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-56-line-0 {position: absolute;left: 80.3px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-57-line-0 {position: absolute;left: 132.3px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-58-line-0 {position: absolute;left: 161.7px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-59-line-0 {position: absolute;left: 180.5px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-60-line-0 {position: absolute;left: 201.9px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-61-line-0 {position: absolute;left: 218.6px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-62-line-0 {position: absolute;left: 244.8px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-63-line-0 {position: absolute;left: 290.6px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-64-line-0 {position: absolute;left: 320.1px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-65-line-0 {position: absolute;left: 338.8px;top: 170.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-66-line-0 {position: absolute;left: 54.0px;top: 211.9px;font-size: 13.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-67-line-0 {position: absolute;left: 97.1px;top: 211.9px;font-size: 13.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-68-line-0 {position: absolute;left: 172.0px;top: 211.9px;font-size: 13.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-69-line-0 {position: absolute;left: 226.7px;top: 211.9px;font-size: 13.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-70-line-0 {position: absolute;left: 54.0px;top: 228.7px;font-size: 22.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-71-line-0 {position: absolute;left: 132.3px;top: 228.7px;font-size: 22.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-72-line-0 {position: absolute;left: 179.2px;top: 228.7px;font-size: 22.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-73-line-0 {position: absolute;left: 54.0px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-74-line-0 {position: absolute;left: 73.6px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-75-line-0 {position: absolute;left: 105.5px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-76-line-0 {position: absolute;left: 155.8px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-77-line-0 {position: absolute;left: 168.4px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Bd';}
#block-78-line-0 {position: absolute;left: 224.1px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-79-line-0 {position: absolute;left: 254.3px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-80-line-0 {position: absolute;left: 293.9px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-81-line-0 {position: absolute;left: 334.8px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-82-line-0 {position: absolute;left: 369.4px;top: 265.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-83-line-0 {position: absolute;left: 54.0px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-84-line-0 {position: absolute;left: 102.4px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-85-line-0 {position: absolute;left: 125.5px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-86-line-0 {position: absolute;left: 144.6px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-87-line-0 {position: absolute;left: 188.3px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-88-line-0 {position: absolute;left: 222.4px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-89-line-0 {position: absolute;left: 239.1px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-90-line-0 {position: absolute;left: 269.1px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-91-line-0 {position: absolute;left: 288.7px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-92-line-0 {position: absolute;left: 343.8px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-93-line-0 {position: absolute;left: 362.1px;top: 278.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-94-line-0 {position: absolute;left: 54.0px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-95-line-0 {position: absolute;left: 65.4px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-96-line-0 {position: absolute;left: 85.0px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-97-line-0 {position: absolute;left: 106.9px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-98-line-0 {position: absolute;left: 155.6px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-99-line-0 {position: absolute;left: 166.7px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-100-line-0 {position: absolute;left: 181.4px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-101-line-0 {position: absolute;left: 195.5px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-102-line-0 {position: absolute;left: 203.7px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-103-line-0 {position: absolute;left: 229.5px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-104-line-0 {position: absolute;left: 252.6px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-105-line-0 {position: absolute;left: 261.1px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-106-line-0 {position: absolute;left: 272.5px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-107-line-0 {position: absolute;left: 288.8px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-108-line-0 {position: absolute;left: 308.4px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-109-line-0 {position: absolute;left: 325.7px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-110-line-0 {position: absolute;left: 340.4px;top: 291.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-111-line-0 {position: absolute;left: 54.0px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-112-line-0 {position: absolute;left: 88.8px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-113-line-0 {position: absolute;left: 135.7px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-114-line-0 {position: absolute;left: 147.1px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-115-line-0 {position: absolute;left: 163.8px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-116-line-0 {position: absolute;left: 195.5px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-117-line-0 {position: absolute;left: 254.8px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-118-line-0 {position: absolute;left: 271.6px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-119-line-0 {position: absolute;left: 297.3px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-120-line-0 {position: absolute;left: 329.0px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-121-line-0 {position: absolute;left: 348.6px;top: 304.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-122-line-0 {position: absolute;left: 54.0px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-123-line-0 {position: absolute;left: 81.2px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-124-line-0 {position: absolute;left: 119.7px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-125-line-0 {position: absolute;left: 170.6px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-126-line-0 {position: absolute;left: 180.2px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-127-line-0 {position: absolute;left: 202.3px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-128-line-0 {position: absolute;left: 212.5px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-129-line-0 {position: absolute;left: 229.2px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-130-line-0 {position: absolute;left: 246.3px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-131-line-0 {position: absolute;left: 279.9px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-132-line-0 {position: absolute;left: 310.2px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-133-line-0 {position: absolute;left: 319.9px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-134-line-0 {position: absolute;left: 354.8px;top: 317.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-135-line-0 {position: absolute;left: 54.0px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-136-line-0 {position: absolute;left: 86.6px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-137-line-0 {position: absolute;left: 106.1px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-138-line-0 {position: absolute;left: 140.5px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-139-line-0 {position: absolute;left: 173.1px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-140-line-0 {position: absolute;left: 205.6px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-141-line-0 {position: absolute;left: 222.4px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-142-line-0 {position: absolute;left: 253.9px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-143-line-0 {position: absolute;left: 287.7px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-144-line-0 {position: absolute;left: 320.4px;top: 330.4px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-145-line-0 {position: absolute;left: 174.5px;top: 358.9px;font-size: 18.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-146-line-0 {position: absolute;left: 170.2px;top: 383.2px;font-size: 13.4px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-147-line-0 {position: absolute;left: 143.6px;top: 409.3px;font-size: 9.8px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-148-line-0 {position: absolute;left: 303.3px;top: 381.9px;font-size: 13.8px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-149-line-0 {position: absolute;left: 296.8px;top: 401.5px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-150-line-0 {position: absolute;left: 282.7px;top: 419.9px;font-size: 7.5px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-151-line-0 {position: absolute;left: 185.7px;top: 403.3px;font-size: 18.3px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-152-line-0 {position: absolute;left: 152.8px;top: 425.3px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-153-line-0 {position: absolute;left: 176.0px;top: 425.3px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-154-line-0 {position: absolute;left: 145.1px;top: 437px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-155-line-0 {position: absolute;left: 166.6px;top: 437px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-156-line-0 {position: absolute;left: 181.6px;top: 437px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-157-line-0 {position: absolute;left: 139.9px;top: 448.8px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-158-line-0 {position: absolute;left: 159.8px;top: 448.8px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-159-line-0 {position: absolute;left: 178.7px;top: 448.8px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-160-line-0 {position: absolute;left: 198.9px;top: 448.8px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-161-line-0 {position: absolute;left: 311.3px;top: 415px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-162-line-0 {position: absolute;left: 283.5px;top: 432.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-163-line-0 {position: absolute;left: 301.4px;top: 432.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-164-line-0 {position: absolute;left: 313.2px;top: 432.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-165-line-0 {position: absolute;left: 281.0px;top: 441.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-166-line-0 {position: absolute;left: 297.6px;top: 441.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-167-line-0 {position: absolute;left: 309.2px;top: 441.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-168-line-0 {position: absolute;left: 275.0px;top: 450.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-169-line-0 {position: absolute;left: 290.4px;top: 450.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-170-line-0 {position: absolute;left: 305.1px;top: 450.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-171-line-0 {position: absolute;left: 324.4px;top: 450.1px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-172-line-0 {position: absolute;left: 406.5px;top: 440.4px;font-size: 18.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-173-line-0 {position: absolute;left: 396.3px;top: 465.1px;font-size: 13.4px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-174-line-0 {position: absolute;left: 375.7px;top: 489.6px;font-size: 9.8px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-175-line-0 {position: absolute;left: 92.7px;top: 467.1px;font-size: 13.8px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-176-line-0 {position: absolute;left: 88.1px;top: 486px;font-size: 10.3px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-177-line-0 {position: absolute;left: 72.0px;top: 504.2px;font-size: 7.5px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-178-line-0 {position: absolute;left: 103.3px;top: 499.5px;font-size: 14.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-179-line-0 {position: absolute;left: 417.8px;top: 483.6px;font-size: 18.3px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-180-line-0 {position: absolute;left: 70.8px;top: 516.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-181-line-0 {position: absolute;left: 88.8px;top: 516.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-182-line-0 {position: absolute;left: 107.0px;top: 516.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-183-line-0 {position: absolute;left: 71.8px;top: 525.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-184-line-0 {position: absolute;left: 88.5px;top: 525.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-185-line-0 {position: absolute;left: 100.1px;top: 525.7px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-186-line-0 {position: absolute;left: 65.8px;top: 534.6px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-187-line-0 {position: absolute;left: 81.2px;top: 534.6px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-188-line-0 {position: absolute;left: 95.9px;top: 534.6px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-189-line-0 {position: absolute;left: 114.9px;top: 534.6px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-190-line-0 {position: absolute;left: 380.6px;top: 505.7px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-191-line-0 {position: absolute;left: 403.7px;top: 505.7px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-192-line-0 {position: absolute;left: 418.8px;top: 505.7px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-193-line-0 {position: absolute;left: 377.2px;top: 517.4px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-194-line-0 {position: absolute;left: 398.7px;top: 517.4px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-195-line-0 {position: absolute;left: 413.7px;top: 517.4px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-196-line-0 {position: absolute;left: 369.5px;top: 529.2px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-197-line-0 {position: absolute;left: 389.4px;top: 529.2px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-198-line-0 {position: absolute;left: 408.2px;top: 529.2px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-199-line-0 {position: absolute;left: 433.4px;top: 529.2px;font-size: 9.1px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-200-line-0 {position: absolute;left: 92.0px;top: 580.7px;font-size: 23.5px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-201-line-0 {position: absolute;left: 73.8px;top: 613.2px;font-size: 14.6px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-202-line-0 {position: absolute;left: 122.6px;top: 613.2px;font-size: 14.6px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-203-line-0 {position: absolute;left: 58.1px;top: 639.9px;font-size: 10.7px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-204-line-0 {position: absolute;left: 374.3px;top: 593.9px;font-size: 16.3px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-205-line-0 {position: absolute;left: 357.6px;top: 617px;font-size: 11.0px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-206-line-0 {position: absolute;left: 346.8px;top: 638.2px;font-size: 8.9px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-207-line-0 {position: absolute;left: 185.8px;top: 652.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-208-line-0 {position: absolute;left: 206.9px;top: 652.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-209-line-0 {position: absolute;left: 250.4px;top: 652.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-210-line-0 {position: absolute;left: 269.8px;top: 652.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-211-line-0 {position: absolute;left: 283.3px;top: 652.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-212-line-0 {position: absolute;left: 185.8px;top: 662.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-213-line-0 {position: absolute;left: 222.7px;top: 662.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-214-line-0 {position: absolute;left: 254.0px;top: 662.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-215-line-0 {position: absolute;left: 268.2px;top: 662.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-216-line-0 {position: absolute;left: 185.8px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-217-line-0 {position: absolute;left: 201.5px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-218-line-0 {position: absolute;left: 222.9px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-219-line-0 {position: absolute;left: 232.1px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-220-line-0 {position: absolute;left: 257.3px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-221-line-0 {position: absolute;left: 273.2px;top: 672.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-222-line-0 {position: absolute;left: 185.8px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-223-line-0 {position: absolute;left: 223.4px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-224-line-0 {position: absolute;left: 234.3px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-225-line-0 {position: absolute;left: 240.8px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-226-line-0 {position: absolute;left: 272.7px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-227-line-0 {position: absolute;left: 301.6px;top: 682.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-228-line-0 {position: absolute;left: 185.8px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-229-line-0 {position: absolute;left: 199.4px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-230-line-0 {position: absolute;left: 229.7px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-231-line-0 {position: absolute;left: 238.9px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-232-line-0 {position: absolute;left: 270.3px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-233-line-0 {position: absolute;left: 288.4px;top: 692.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-234-line-0 {position: absolute;left: 185.8px;top: 702.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-235-line-0 {position: absolute;left: 217.7px;top: 702.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-236-line-0 {position: absolute;left: 230.3px;top: 702.1px;font-size: 8.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-237-line-0 {position: absolute;left: 186.2px;top: 718.9px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-238-line-0 {position: absolute;left: 212.2px;top: 718.9px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-239-line-0 {position: absolute;left: 103.8px;top: 633.5px;font-size: 19.9px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-240-line-0 {position: absolute;left: 385.0px;top: 632.8px;font-size: 16.6px;font-family: 'HelveticaNeueLTStd-Blk';}
#block-241-line-0 {position: absolute;left: 63.8px;top: 657.4px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-242-line-0 {position: absolute;left: 88.9px;top: 657.4px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-243-line-0 {position: absolute;left: 105.2px;top: 657.4px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-244-line-0 {position: absolute;left: 61.0px;top: 670.3px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-245-line-0 {position: absolute;left: 84.4px;top: 670.3px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-246-line-0 {position: absolute;left: 100.7px;top: 670.3px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-247-line-0 {position: absolute;left: 52.6px;top: 683px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-248-line-0 {position: absolute;left: 74.1px;top: 683px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-249-line-0 {position: absolute;left: 94.5px;top: 683px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-250-line-0 {position: absolute;left: 120.0px;top: 683px;font-size: 10.0px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-251-line-0 {position: absolute;left: 351.4px;top: 652.7px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-252-line-0 {position: absolute;left: 372.5px;top: 652.7px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-253-line-0 {position: absolute;left: 385.3px;top: 652.7px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-254-line-0 {position: absolute;left: 348.1px;top: 663.3px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-255-line-0 {position: absolute;left: 367.6px;top: 663.3px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-256-line-0 {position: absolute;left: 381.3px;top: 663.3px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-257-line-0 {position: absolute;left: 341.3px;top: 674px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-258-line-0 {position: absolute;left: 359.5px;top: 674px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-259-line-0 {position: absolute;left: 376.6px;top: 674px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-260-line-0 {position: absolute;left: 398.6px;top: 674px;font-size: 8.3px;font-family: 'HelveticaNeueLTStd-Lt';}
#block-261-line-0 {position: absolute;left: 27.0px;top: 750.6px;font-size: 9.0px;font-family: 'GalliardStd-Black';}
#block-262-line-0 {position: absolute;left: 40.2px;top: 752.5px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-263-line-0 {position: absolute;left: 49.1px;top: 752.5px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Roman';}
#block-264-line-0 {position: absolute;left: 73.9px;top: 752.5px;font-size: 7.0px;font-family: 'HelveticaNeueLTStd-Roman';}
