#main_container_inner {
	background: url('../img/page-02-bg.jpg') no-repeat;
    height: 672px;
    width: 1024px;
}

#block-0-line-0 {position: absolute;left: 137.6px;top: 113.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-1-line-0 {position: absolute;left: 232.4px;top: 113.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-2-line-0 {position: absolute;left: 284.9px;top: 113.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-3-line-0 {position: absolute;left: 316.7px;top: 113.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-4-line-0 {position: absolute;left: 342.1px;top: 113.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-5-line-0 {position: absolute;left: 117.8px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-6-line-0 {position: absolute;left: 165.2px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-7-line-0 {position: absolute;left: 185.0px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-8-line-0 {position: absolute;left: 215.9px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-9-line-0 {position: absolute;left: 257.6px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-10-line-0 {position: absolute;left: 308.9px;top: 143.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-11-line-0 {position: absolute;left: 117.8px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-12-line-0 {position: absolute;left: 152.3px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-13-line-0 {position: absolute;left: 198.2px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-14-line-0 {position: absolute;left: 219.4px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-15-line-0 {position: absolute;left: 244.4px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-16-line-0 {position: absolute;left: 260.3px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-17-line-0 {position: absolute;left: 295.9px;top: 173.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-18-line-0 {position: absolute;left: 117.8px;top: 203.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-19-line-0 {position: absolute;left: 159.9px;top: 203.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-20-line-0 {position: absolute;left: 194.4px;top: 203.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-21-line-0 {position: absolute;left: 247.6px;top: 203.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-22-line-0 {position: absolute;left: 287.2px;top: 203.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-23-line-0 {position: absolute;left: 117.8px;top: 233.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-24-line-0 {position: absolute;left: 187.3px;top: 233.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-25-line-0 {position: absolute;left: 229.3px;top: 233.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-26-line-0 {position: absolute;left: 273.1px;top: 233.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-27-line-0 {position: absolute;left: 117.8px;top: 263.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-28-line-0 {position: absolute;left: 186.9px;top: 263.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-29-line-0 {position: absolute;left: 249.1px;top: 263.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-30-line-0 {position: absolute;left: 117.8px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-31-line-0 {position: absolute;left: 155.6px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-32-line-0 {position: absolute;left: 194.9px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-33-line-0 {position: absolute;left: 226.7px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-34-line-0 {position: absolute;left: 252.1px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-35-line-0 {position: absolute;left: 283.0px;top: 293.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-36-line-0 {position: absolute;left: 137.6px;top: 323.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-37-line-0 {position: absolute;left: 188.8px;top: 323.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-38-line-0 {position: absolute;left: 241.3px;top: 323.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-39-line-0 {position: absolute;left: 273.1px;top: 323.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-40-line-0 {position: absolute;left: 117.8px;top: 353.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-41-line-0 {position: absolute;left: 170.1px;top: 353.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-42-line-0 {position: absolute;left: 256.0px;top: 353.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-43-line-0 {position: absolute;left: 298.1px;top: 353.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-44-line-0 {position: absolute;left: 329.9px;top: 353.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-45-line-0 {position: absolute;left: 117.8px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-46-line-0 {position: absolute;left: 171.1px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-47-line-0 {position: absolute;left: 221.6px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-48-line-0 {position: absolute;left: 268.0px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-49-line-0 {position: absolute;left: 305.8px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-50-line-0 {position: absolute;left: 345.1px;top: 383.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-51-line-0 {position: absolute;left: 117.8px;top: 413.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-52-line-0 {position: absolute;left: 185.8px;top: 413.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-53-line-0 {position: absolute;left: 216.5px;top: 413.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-54-line-0 {position: absolute;left: 297.3px;top: 413.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-55-line-0 {position: absolute;left: 317.2px;top: 413.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-56-line-0 {position: absolute;left: 117.8px;top: 443.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-57-line-0 {position: absolute;left: 138.6px;top: 443.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-58-line-0 {position: absolute;left: 170.8px;top: 443.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-59-line-0 {position: absolute;left: 240.5px;top: 443.3px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-60-line-0 {position: absolute;left: 703.8px;top: 407.0px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-61-line-0 {position: absolute;left: 725.9px;top: 407.0px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-62-line-0 {position: absolute;left: 765.8px;top: 407.0px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-63-line-0 {position: absolute;left: 808.9px;top: 407.0px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-64-line-0 {position: absolute;left: 855.2px;top: 407.0px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-65-line-0 {position: absolute;left: 703.8px;top: 422.7px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-66-line-0 {position: absolute;left: 744.2px;top: 422.7px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-67-line-0 {position: absolute;left: 770.3px;top: 422.7px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-68-line-0 {position: absolute;left: 816.7px;top: 422.7px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-69-line-0 {position: absolute;left: 834.5px;top: 422.7px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-70-line-0 {position: absolute;left: 703.8px;top: 438.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}
#block-71-line-0 {position: absolute;left: 759.4px;top: 438.4px;font-size: 13.9px;font-family: 'SlateStd-Medium';}


p.indent {
	text-indent: 15px;
}