* {
	box-sizing:border-box;
}

#bg-image {
	width:100%;
}

#main_container_inner {
	width: 100%;
	margin: 0 auto;
}

span {
	margin:0;
	padding:0;
}


#block-0-line-0 {position: absolute;left: 182.3px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-1-line-0 {position: absolute;left: 260.8px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-2-line-0 {position: absolute;left: 311.3px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-3-line-0 {position: absolute;left: 348.5px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-4-line-0 {position: absolute;left: 378.6px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-5-line-0 {position: absolute;left: 167.3px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-6-line-0 {position: absolute;left: 198.5px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-7-line-0 {position: absolute;left: 258.1px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-8-line-0 {position: absolute;left: 278.7px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-9-line-0 {position: absolute;left: 308.8px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-10-line-0 {position: absolute;left: 359.2px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-11-line-0 {position: absolute;left: 167.3px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-12-line-0 {position: absolute;left: 217.5px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-13-line-0 {position: absolute;left: 275.8px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-14-line-0 {position: absolute;left: 323.7px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-15-line-0 {position: absolute;left: 338.9px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-16-line-0 {position: absolute;left: 385.6px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-17-line-0 {position: absolute;left: 167.3px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-18-line-0 {position: absolute;left: 224.5px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-19-line-0 {position: absolute;left: 243.7px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-20-line-0 {position: absolute;left: 273.8px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-21-line-0 {position: absolute;left: 322.8px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-22-line-0 {position: absolute;left: 338.2px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-23-line-0 {position: absolute;left: 167.3px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-24-line-0 {position: absolute;left: 199.7px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-25-line-0 {position: absolute;left: 228.5px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-26-line-0 {position: absolute;left: 263.6px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-27-line-0 {position: absolute;left: 293.7px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-28-line-0 {position: absolute;left: 336.0px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-29-line-0 {position: absolute;left: 167.3px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-30-line-0 {position: absolute;left: 236.8px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-31-line-0 {position: absolute;left: 284.9px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-32-line-0 {position: absolute;left: 309.3px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-33-line-0 {position: absolute;left: 439.9px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-34-line-0 {position: absolute;left: 509.9px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-35-line-0 {position: absolute;left: 579.6px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-36-line-0 {position: absolute;left: 597.2px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-37-line-0 {position: absolute;left: 635.4px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-38-line-0 {position: absolute;left: 439.9px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-39-line-0 {position: absolute;left: 481.8px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-40-line-0 {position: absolute;left: 531.1px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-41-line-0 {position: absolute;left: 579.7px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-42-line-0 {position: absolute;left: 627.6px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-43-line-0 {position: absolute;left: 439.9px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-44-line-0 {position: absolute;left: 461.1px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-45-line-0 {position: absolute;left: 492.0px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-46-line-0 {position: absolute;left: 454.9px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-47-line-0 {position: absolute;left: 488.6px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-48-line-0 {position: absolute;left: 540.2px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-49-line-0 {position: absolute;left: 590.3px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-50-line-0 {position: absolute;left: 622.2px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-51-line-0 {position: absolute;left: 439.9px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-52-line-0 {position: absolute;left: 528.6px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-53-line-0 {position: absolute;left: 549.8px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-54-line-0 {position: absolute;left: 599.5px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-55-line-0 {position: absolute;left: 439.9px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-56-line-0 {position: absolute;left: 536.9px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-57-line-0 {position: absolute;left: 552.9px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-58-line-0 {position: absolute;left: 594.8px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-59-line-0 {position: absolute;left: 645.6px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-60-line-0 {position: absolute;left: 439.9px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-61-line-0 {position: absolute;left: 491.5px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-62-line-0 {position: absolute;left: 546.2px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-63-line-0 {position: absolute;left: 585.4px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-64-line-0 {position: absolute;left: 620.0px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-65-line-0 {position: absolute;left: 651.2px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-66-line-0 {position: absolute;left: 712.5px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-67-line-0 {position: absolute;left: 774.3px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-68-line-0 {position: absolute;left: 821.4px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-69-line-0 {position: absolute;left: 867.3px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-70-line-0 {position: absolute;left: 903.7px;top: 83.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-71-line-0 {position: absolute;left: 729.7px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-72-line-0 {position: absolute;left: 794.3px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-73-line-0 {position: absolute;left: 826.1px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-74-line-0 {position: absolute;left: 895.7px;top: 113.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-75-line-0 {position: absolute;left: 712.5px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-76-line-0 {position: absolute;left: 778.5px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-77-line-0 {position: absolute;left: 817.1px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-78-line-0 {position: absolute;left: 859.2px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-79-line-0 {position: absolute;left: 891.0px;top: 143.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-80-line-0 {position: absolute;left: 712.5px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-81-line-0 {position: absolute;left: 776.2px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-82-line-0 {position: absolute;left: 875.5px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-83-line-0 {position: absolute;left: 932.1px;top: 173.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-84-line-0 {position: absolute;left: 712.5px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-85-line-0 {position: absolute;left: 755.2px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-86-line-0 {position: absolute;left: 786.1px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-87-line-0 {position: absolute;left: 828.0px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-88-line-0 {position: absolute;left: 859.6px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-89-line-0 {position: absolute;left: 880.4px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-90-line-0 {position: absolute;left: 911.3px;top: 203.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-91-line-0 {position: absolute;left: 712.5px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-92-line-0 {position: absolute;left: 767.2px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-93-line-0 {position: absolute;left: 809.3px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-94-line-0 {position: absolute;left: 854.7px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-95-line-0 {position: absolute;left: 875.9px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-96-line-0 {position: absolute;left: 916.0px;top: 233.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-97-line-0 {position: absolute;left: 712.5px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-98-line-0 {position: absolute;left: 784.1px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-99-line-0 {position: absolute;left: 841.2px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-100-line-0 {position: absolute;left: 869.9px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-101-line-0 {position: absolute;left: 901.3px;top: 263.4px;font-size: 20.0px;font-family: 'URWGroteskT-Lig';}
#block-102-line-0 {position: absolute;left: 702.3px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-103-line-0 {position: absolute;left: 723.3px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-104-line-0 {position: absolute;left: 749.3px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-105-line-0 {position: absolute;left: 783.7px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-106-line-0 {position: absolute;left: 847.7px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-107-line-0 {position: absolute;left: 863.5px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-108-line-0 {position: absolute;left: 931.3px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-109-line-0 {position: absolute;left: 945.5px;top: 342.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-110-line-0 {position: absolute;left: 702.3px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-111-line-0 {position: absolute;left: 735.9px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-112-line-0 {position: absolute;left: 775.4px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-113-line-0 {position: absolute;left: 789.9px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-114-line-0 {position: absolute;left: 827.9px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-115-line-0 {position: absolute;left: 861.5px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-116-line-0 {position: absolute;left: 889.3px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-117-line-0 {position: absolute;left: 931.3px;top: 358.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-118-line-0 {position: absolute;left: 702.3px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-119-line-0 {position: absolute;left: 733.0px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-120-line-0 {position: absolute;left: 767.4px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-121-line-0 {position: absolute;left: 812.2px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-122-line-0 {position: absolute;left: 841.5px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
#block-123-line-0 {position: absolute;left: 881.2px;top: 374.1px;font-size: 14.0px;font-family: 'SlateStd-Medium';}
